# STEP 2: HANDLING WITH MISSING VALUES

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from scipy import stats

In [34]:
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

In [3]:
df0 = pd.read_csv("C:\\Users\\49179\\Desktop\\EDA Project\\capstone_step1.csv")

In [4]:
df = df0.copy()

In [6]:
df.head().T

,0,1,2,3,4
make_model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG,Mercedes-Benz A 35 AMG,Mercedes-Benz A 45 AMG
make,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz
price,16950.0,80900.0,69900.0,46990.0,16800.0
body_type,Compact,Compact,Compact,Compact,Compact
type,Used,Pre-registered,Used,Used,Used
doors,5.0,4.0,5.0,5.0,5.0
warranty,24.0,24.0,12.0,12.0,12.0
mileage,120200.0,5000.0,18900.0,18995.0,197000.0
gearbox,Manual,Automatic,Automatic,Automatic,Automatic
fuel_type,Diesel,Electric,Benzine,Benzine,Diesel
seller,Dealer,Dealer,Dealer,Dealer,Dealer
seats,NaN,5.0,5.0,5.0,5.0
engine_size,NaN,1.0,1991.0,1991.0,2143.0
gears,NaN,9.0,8.0,7.0,7.0
co_emissions,NaN,0.0,NaN,NaN,NaN
drivetrain,NaN,NaN,4WD,4WD,4WD
cylinders,NaN,NaN,4.0,4.0,4.0
comfort_&_convenience,NaN,NaN,NaN,"Air conditioning, Automatic climate control, P...","Air conditioning, Electrical side mirrors, Mul..."
entertainment_&_media,NaN,NaN,NaN,USB,"Bluetooth, CD player, MP3, USB"
safety_&_security,NaN,NaN,NaN,"ABS, Central door lock, Driver-side airbag, El...","ABS, Central door lock, Driver-side airbag, El..."
extras,NaN,NaN,NaN,Sport seats,NaN
empty_weight,NaN,NaN,NaN,NaN,1545.0
full_service_history,No,No,No,No,No
non_smoker_vehicle,No,No,No,No,No
upholstery,NaN,NaN,NaN,NaN,NaN
previous_owner,NaN,NaN,NaN,NaN,NaN
energy_efficiency_class,NaN,NaN,NaN,NaN,NaN
age,6.0,0.0,2.0,2.0,7.0
power_hp,NaN,292.0,421.0,306.0,136.0
power_kw,NaN,215.0,310.0,225.0,100.0
cons_avg,NaN,NaN,8.4,7.3,4.9
cons_city,NaN,NaN,10.9,9.3,5.7
cons_country,NaN,NaN,5.8,6.1,4.4

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28630 entries, 0 to 28629
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make_model               28630 non-null  object
 1   make                     28630 non-null  object
 2   price                    28630 non-null  float64
 3   body_type                28630 non-null  object
 4   type                     28630 non-null  object
 5   doors                    28271 non-null  float64
 6   warranty                 13465 non-null  float64
 7   mileage                  28629 non-null  float64
 8   gearbox                  28382 non-null  object
 9   fuel_type                26843 non-null  object
 10  seller                   28630 non-null  object
 11  seats                    25505 non-null  float64
 12  engine_size              27227 non-null  float64
 13  gears                    18954 non-null  float64
 14  co_emissions             18594 non-null  float64
 15  drivetrain               16893 non-null  object
 16  cylinders                18852 non-null  float64
 17  comfort_&_convenience    25433 non-null  object
 18  entertainment_&_media    23644 non-null  object
 19  safety_&_security        25415 non-null  object
 20  extras                   23480 non-null  object
 21  empty_weight             17758 non-null  float64
 22  full_service_history     28630 non-null  object
 23  non_smoker_vehicle       28630 non-null  object
 24  upholstery               18610 non-null  object
 25  previous_owner           14015 non-null  float64
 26  energy_efficiency_class  7804 non-null   object
 27  age                      28628 non-null  float64
 28  power_hp                 28058 non-null  float64
 29  power_kw                 28058 non-null  float64
 30  cons_avg                 23385 non-null  float64
 31  cons_city                20100 non-null  float64
 32  cons_country             20100 non-null  float64
dtypes: float64(17), object(16)
memory usage: 7.2+ MB

In [8]:
df.shape

(28630, 33)

**Examination of Missing Values**

In [12]:
nan_percentage = df.isnull().sum()*100 / df.shape[0]
nan_percentage

make_model                  0.000000
make                        0.000000
price                       0.000000
body_type                   0.000000
type                        0.000000
doors                       1.253929
warranty                   52.968914
mileage                     0.003493
gearbox                     0.866224
fuel_type                   6.241705
seller                      0.000000
seats                      10.915124
engine_size                 4.900454
gears                      33.796717
co_emissions               35.054139
drivetrain                 40.995459
cylinders                  34.152986
comfort_&_convenience      11.166608
entertainment_&_media      17.415299
safety_&_security          11.229480
extras                     17.988124
empty_weight               37.974153
full_service_history        0.000000
non_smoker_vehicle          0.000000
upholstery                 34.998254
previous_owner             51.047852
energy_efficiency_class    72.741879
age                         0.006986
power_hp                    1.997904
power_kw                    1.997904
cons_avg                   18.319944
cons_city                  29.793922
cons_country               29.793922
dtype: float64

**Examination of Duplicated Values**

In [13]:
df.duplicated(keep=False).sum()

6539

In [14]:
df[df.duplicated(keep=False)]

,make_model,make,price,body_type,type,doors,warranty,mileage,gearbox,fuel_type,...,non_smoker_vehicle,upholstery,previous_owner,energy_efficiency_class,age,power_hp,power_kw,cons_avg,cons_city,cons_country
20,Mercedes-Benz A 180,Mercedes-Benz,21000.0,Compact,Used,5.0,12.0,172700.0,Automatic,Diesel,...,No,NaN,NaN,NaN,4.0,109.0,80.0,3.7,4.3,3.4
25,Mercedes-Benz A 180,Mercedes-Benz,21000.0,Compact,Used,5.0,12.0,172700.0,Automatic,Diesel,...,No,NaN,NaN,NaN,4.0,109.0,80.0,3.7,4.3,3.4
34,Mercedes-Benz A 180,Mercedes-Benz,18390.0,Compact,Used,5.0,12.0,63871.0,Automatic,Benzine,...,No,NaN,NaN,NaN,5.0,122.0,90.0,5.4,6.8,4.6
40,Mercedes-Benz A 180,Mercedes-Benz,20630.0,Compact,Used,5.0,12.0,98258.0,Manual,Diesel,...,No,NaN,NaN,NaN,3.0,116.0,85.0,4.2,4.7,3.9
43,Mercedes-Benz A 180,Mercedes-Benz,23850.0,Compact,Used,5.0,12.0,71098.0,Automatic,Diesel,...,No,NaN,NaN,NaN,4.0,109.0,80.0,3.7,4.3,3.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28616,Volvo S90,Volvo,27190.0,Sedan,Used,4.0,12.0,93757.0,Automatic,Diesel,...,No,NaN,NaN,NaN,4.0,190.0,140.0,4.4,5.3,3.9
28617,Volvo S90,Volvo,27190.0,Sedan,Used,4.0,12.0,93757.0,Automatic,Diesel,...,No,NaN,NaN,NaN,4.0,190.0,140.0,4.4,5.3,3.9
28621,Volvo S90,Volvo,27190.0,Sedan,Used,4.0,12.0,93757.0,Automatic,Diesel,...,No,NaN,NaN,NaN,4.0,190.0,140.0,4.4,5.3,3.9
28622,Volvo S90,Volvo,27190.0,Sedan,Used,4.0,12.0,93757.0,Automatic,Diesel,...,No,NaN,NaN,NaN,4.0,190.0,140.0,4.4,5.3,3.9
28625,Volvo S90,Volvo,37600.0,Sedan,Used,4.0,12.0,40345.0,Automatic,NaN,...,No,NaN,NaN,NaN,3.0,392.0,288.0,2.0,NaN,NaN

**User Defined Functions to Fill the Missing Values**

In [15]:
def first_looking(col):
    print("COLUMN NAME    : ", col)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col].isnull().sum())
    print("num_of_uniques : ", df[col].nunique())
    print("--------------------------------")
    print(df[col].value_counts(dropna = False))

In [16]:
def fill_most_freq(df, group_col, col_name):
    
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    
    print("COLUMN NAME    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False).sort_index())

In [17]:
def fill_mode(df, group_col1, group_col2, col_name):
    
    for group1 in list(df[group_col1].unique()):
        for group2 in list(df[group_col2].unique()):
            cond1 = df[group_col1]==group1
            cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
            mode1 = list(df[cond1][col_name].mode())
            mode2 = list(df[cond2][col_name].mode())
            if mode2 != []:
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
            elif mode1 != []:
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
            else:
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])
    
    print("column name    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False))

In [18]:
def fill_prop(df, group_col, col_name):
    
    '''Fills the missing values with "ffill and bfill method" according to single-stage grouping'''
    
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("COLUMN NAME    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False).sort_index())

In [19]:
def fill(df, group_col1, group_col2, col_name, method):
    
    '''Fills the missing values with "mode/mean/median/ffill/bfill method" according to double-stage grouping'''
    
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])

    elif method == "mean":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("mean"), inplace = True)
        df[col_name].fillna(df[col_name].mean(), inplace = True)
        
    elif method == "median":
        df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
        df[col_name].fillna(df[col_name].median(), inplace = True)
        
    elif method == "ffill":           
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("COLUMN NAME    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False).sort_index())

#  Examination of Missing Values in the Columns

**In this data set, according to my domain knowledge and researches, 'make_model' and 'body_type' features are thought to have the most influence on other features, either directly or indirectly. Therefore, these features will be referred to when filling in missing values.**

In [21]:
first_looking("make_model")

COLUMN NAME    :  make_model
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  611
--------------------------------
make_model
Renault Megane     863
SEAT Leon          787
Volvo V40          740
Dacia Sandero      730
Hyundai i30        706
                  ...
Toyota GR86          1
Toyota Tacoma        1
Toyota Tundra        1
Toyota 4-Runner      1
Volvo 244            1
Name: count, Length: 611, dtype: int64

In [23]:
first_looking("body_type")

COLUMN NAME    :  body_type
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  6
--------------------------------
body_type
Station wagon       5448
Off-Road/Pick-up    5415
Compact             5387
Sedan               5043
Coupe               4009
Convertible         3328
Name: count, dtype: int64

In [22]:
first_looking("make")

COLUMN NAME    :  make
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  13
--------------------------------
make
Volvo            3659
Mercedes-Benz    2398
Opel             2385
Peugeot          2360
Renault          2351
Fiat             2338
Ford             2324
Nissan           2064
Toyota           2038
Hyundai          1867
SEAT             1743
Skoda            1566
Dacia            1537
Name: count, dtype: int64

**Now we can see which features have NaN values and start filling these features.**

In [24]:
df_isnull = df[df.columns[df.isnull().any()]]
df_isnull.columns

Index(['doors', 'warranty', 'mileage', 'gearbox', 'fuel_type', 'seats',
       'engine_size', 'gears', 'co_emissions', 'drivetrain', 'cylinders',
       'comfort_&_convenience', 'entertainment_&_media', 'safety_&_security',
       'extras', 'empty_weight', 'upholstery', 'previous_owner',
       'energy_efficiency_class', 'age', 'power_hp', 'power_kw', 'cons_avg',
       'cons_city', 'cons_country'],
      dtype='object')

**doors**

In [26]:
first_looking("doors")

COLUMN NAME    :  doors
--------------------------------
per_of_nulls   :  % 1.25
num_of_nulls   :  359
num_of_uniques :  6
--------------------------------
doors
5.0    17481
2.0     5523
4.0     3001
3.0     2259
NaN      359
6.0        5
1.0        2
Name: count, dtype: int64

**The number of doors of cars changes by theirs make_models and body_types. So I have decided to fill missing values with mode value of related group.**

In [30]:
fill_mode(df, "make_model", "body_type", "doors")

column name    :  doors
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  6
--------------------------------
doors
5.0    17637
2.0     5669
4.0     3013
3.0     2304
6.0        5
1.0        2
Name: count, dtype: int64

**warranty**

In [32]:
first_looking("warranty")

COLUMN NAME    :  warranty
--------------------------------
per_of_nulls   :  % 52.97
num_of_nulls   :  15165
num_of_uniques :  64
--------------------------------
warranty
NaN      15165
12.0      9545
24.0      1515
60.0       968
6.0        398
         ...
55.0         1
99.0         1
122.0        1
44.0         1
4.0          1
Name: count, Length: 65, dtype: int64

**I am going to replace the NaN values with "-" so that I can implement the describe() method.**

In [33]:
df["warranty"].fillna("-", inplace=True)

C:\Users\49179\AppData\Local\Temp\ipykernel_34728\1138572421.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df["warranty"].fillna("-", inplace=True)

In [36]:
df.groupby(["make_model", "body_type"])["age"].describe()

                               count       mean       std   min   25%   50%  \
make_model   body_type
Dacia        Compact             3.0   0.333333  0.577350   0.0   0.0   0.0
             Sedan               1.0  47.000000       NaN  47.0  47.0  47.0
             Station wagon       1.0   0.000000       NaN   0.0   0.0   0.0
Dacia Break  Station wagon       1.0   0.000000       NaN   0.0   0.0   0.0
Dacia Dokker Compact             1.0   4.000000       NaN   4.0   4.0   4.0
...                              ...        ...       ...   ...   ...   ...
Volvo XC70   Station wagon      26.0   8.384615  2.281700   6.0   7.0   8.0
Volvo XC90   Coupe               4.0   5.000000  0.000000   5.0   5.0   5.0
             Off-Road/Pick-up  199.0   4.231156  3.443165   0.0   2.0   4.0
             Sedan               3.0   2.666667  1.527525   1.0   2.0   3.0
             Station wagon       4.0   6.000000  0.000000   6.0   6.0   6.0

                                75%   max
make_model   body_type
Dacia        Compact            0.5   1.0
             Sedan             47.0  47.0
             Station wagon      0.0   0.0
Dacia Break  Station wagon      0.0   0.0
Dacia Dokker Compact            4.0   4.0
...                             ...   ...
Volvo XC70   Station wagon      9.0  14.0
Volvo XC90   Coupe              5.0   5.0
             Off-Road/Pick-up   5.0  18.0
             Sedan              3.5   4.0
             Station wagon      6.0   6.0

[1257 rows x 8 columns]

**Lets take a close look at the age of cars considering the warranty feature with missing values**

In [38]:
df.loc[df["warranty"] == "-"][["make_model", "body_type", "warranty", "age"]]

                   make_model body_type warranty   age
5         Mercedes-Benz C 160   Compact        -  17.0
8      Mercedes-Benz A 35 AMG   Compact        -   3.0
15        Mercedes-Benz A 180   Compact        -  12.0
16        Mercedes-Benz A 250   Compact        -   1.0
23        Mercedes-Benz A 200   Compact        -   3.0
...                       ...       ...      ...   ...
28615               Volvo 960     Sedan        -  30.0
28620               Volvo S90     Sedan        -   4.0
28623               Volvo V40     Sedan        -   4.0
28626               Volvo S40     Sedan        -  18.0
28629               Volvo S80     Sedan        -  20.0

[15165 rows x 4 columns]

In [39]:
df.loc[df["warranty"] == "-"]["age"].value_counts(dropna=False).sort_index()

age
-180.0       1
-3.0         1
-1.0         1
 0.0      1752
 1.0      1385
          ...
 92.0        2
 93.0        1
 94.0        1
 122.0       2
 NaN         1
Name: count, Length: 84, dtype: int64

In [40]:
(df.loc[df["warranty"] == "-"]["age"].mean())

8.95377209179636

**I am going to assume that missing values in the warranty feature represent no-warranty. The impact of the warranty time on the price of a car can be a relevant factor, but handling the numerous unique values might pose a challenge for our machine learning model. Therefore I am going to group the values into a binary indicator in order to simplify the feature and make it more manageable for analysis and modeling.**

In [41]:
def warrantyclassifier(x):
    if "-" in x:
        return "No"
    else:
        return "Yes"

df["warranty"] = df["warranty"].astype(str).apply(warrantyclassifier)

In [42]:
first_looking("warranty")

COLUMN NAME    :  warranty
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  2
--------------------------------
warranty
No     15165
Yes    13465
Name: count, dtype: int64

**age**

In [45]:
first_looking("age")

COLUMN NAME    :  age
--------------------------------
per_of_nulls   :  % 0.01
num_of_nulls   :  2
num_of_uniques :  83
--------------------------------
age
 3.0      3667
 4.0      3492
 0.0      3086
 1.0      2870
 2.0      2473
          ...
-1.0         1
 93.0        1
 72.0        1
 94.0        1
-180.0       1
Name: count, Length: 84, dtype: int64

In [46]:
df['age'].fillna('-', inplace=True)

In [47]:
df.groupby("age").mileage.describe()

,count,mean,std,min,25%,50%,75%,max
age,,,,,,,,
-180.0,1.0,20926.000000,NaN,20926.0,20926.00,20926.0,20926.00,20926.0
-3.0,1.0,59629.000000,NaN,59629.0,59629.00,59629.0,59629.00,59629.0
-1.0,1.0,147985.000000,NaN,147985.0,147985.00,147985.0,147985.00,147985.0
0.0,3085.0,3043.333874,4697.710410,0.0,10.00,400.0,5000.00,46500.0
1.0,2870.0,15009.230314,12832.031943,0.0,5806.00,12175.0,21493.50,94000.0
...,...,...,...,...,...,...,...,...
92.0,2.0,30616.500000,41554.544210,1233.0,15924.75,30616.5,45308.25,60000.0
93.0,1.0,65515.000000,NaN,65515.0,65515.00,65515.0,65515.00,65515.0
94.0,1.0,5000.000000,NaN,5000.0,5000.00,5000.0,5000.00,5000.0
122.0,2.0,14985.500000,21178.555203,10.0,7497.75,14985.5,22473.25,29961.0
-,2.0,3175.000000,963.079436,2494.0,2834.50,3175.0,3515.50,3856.0

In [48]:
df[df["age"] == "-"]["mileage"].value_counts(dropna=False)

mileage
3856.0    1
2494.0    1
Name: count, dtype: int64

**As we know, there is usually a direct correlation between age and mileage. I see that the mileage of the 2 NaN values in the 'age' feature is very low, around 3000. This fits the 0 year old vehicles the most when we examine the describe() table above. So I am going to use replace() function to fill missing values at "age" column with proper values.**

In [49]:
cond_age1 = (df['mileage'] < 5000)

df.loc[cond_age1,'age'] = df.loc[cond_age1,'age'].replace('-', 0)

In [50]:
df.groupby('age').mileage.mean()

age
-180.0     20926.000000
-3.0       59629.000000
-1.0      147985.000000
 0.0        3043.419177
 1.0       15009.230314
              ...
 90.0      14700.000000
 92.0      30616.500000
 93.0      65515.000000
 94.0       5000.000000
 122.0     14985.500000
Name: mileage, Length: 83, dtype: float64

In [51]:
first_looking("age")

COLUMN NAME    :  age
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  83
--------------------------------
age
 3.0      3667
 4.0      3492
 0.0      3088
 1.0      2870
 2.0      2473
          ...
 93.0        1
 66.0        1
-180.0       1
 94.0        1
 72.0        1
Name: count, Length: 83, dtype: int64

**mileage**

In [52]:
first_looking("mileage")

COLUMN NAME    :  mileage
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  1
num_of_uniques :  14183
--------------------------------
mileage
10.0        586
1.0         172
50.0        133
100.0       119
5000.0      118
           ...
141589.0      1
59821.0       1
123500.0      1
29781.0       1
230047.0      1
Name: count, Length: 14184, dtype: int64

In [53]:
df[df["mileage"].isna()][["age", "mileage"]]

       age  mileage
10753  0.0      NaN

**There is only 1 NaN value in the 'mileage' feature and its age is '0'. I will look at the average 'mileage' in that age group and fill this NaN value with it.**

In [55]:
df["mileage"].fillna(df.groupby("age").mileage.transform("mean"), inplace=True)

In [62]:
df['mileage'].isna().sum()

0

In [64]:
df['mileage'].value_counts(dropna=False)

mileage
10.0        586
1.0         172
50.0        133
100.0       119
5000.0      118
           ...
141589.0      1
59821.0       1
123500.0      1
29781.0       1
230047.0      1
Name: count, Length: 14184, dtype: int64

**gearbox**

In [66]:
first_looking("gearbox")

COLUMN NAME    :  gearbox
--------------------------------
per_of_nulls   :  % 0.87
num_of_nulls   :  248
num_of_uniques :  3
--------------------------------
gearbox
Manual            17023
Automatic         11287
NaN                 248
Semi-automatic       72
Name: count, dtype: int64

**The type of gearbox of cars changes by their make_models & body_type most of the time. So it is reasonable to fill missing values with mode value of related group.**

In [68]:
fill_mode(df, 'make_model', 'body_type', 'gearbox')

column name    :  gearbox
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  3
--------------------------------
gearbox
Manual            17191
Automatic         11367
Semi-automatic       72
Name: count, dtype: int64

In [69]:
df['gearbox'].value_counts(dropna=False)

gearbox
Manual            17191
Automatic         11367
Semi-automatic       72
Name: count, dtype: int64

**fuel_type**

In [70]:
first_looking("fuel_type")

COLUMN NAME    :  fuel_type
--------------------------------
per_of_nulls   :  % 6.24
num_of_nulls   :  1787
num_of_uniques :  4
--------------------------------
fuel_type
Benzine               17546
Diesel                 8727
NaN                    1787
Liquid/Natural Gas      382
Electric                188
Name: count, dtype: int64

**There is a historical associations between certain types of gearboxes and fuel types, so I am going to use'make_model' and 'gearbox' instead of 'body_type' to fill the missing values in the 'fuel_type' feature.**

In [71]:
df[df['gearbox']=='Manual']['fuel_type'].value_counts(dropna=False)

fuel_type
Benzine               11619
Diesel                 5021
Liquid/Natural Gas      331
NaN                     215
Electric                  5
Name: count, dtype: int64

In [73]:
df[df['gearbox']=='Automatic']['fuel_type'].value_counts(dropna=False)

fuel_type
Benzine               5888
Diesel                3681
NaN                   1566
Electric               182
Liquid/Natural Gas      50
Name: count, dtype: int64

In [76]:
df[df['body_type']=='Station wagon']['fuel_type'].value_counts(dropna=False)

fuel_type
Diesel                2671
Benzine               2340
NaN                    344
Liquid/Natural Gas      80
Electric                13
Name: count, dtype: int64

In [77]:
df[df['body_type']=='Sedan']['fuel_type'].value_counts(dropna=False)

fuel_type
Benzine               3168
Diesel                1249
NaN                    450
Liquid/Natural Gas     107
Electric                69
Name: count, dtype: int64

In [79]:
fill_mode(df, 'make_model', 'gearbox', 'fuel_type')

column name    :  fuel_type
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  4
--------------------------------
fuel_type
Benzine               18702
Diesel                 9102
Electric                439
Liquid/Natural Gas      387
Name: count, dtype: int64

**seats**

In [80]:
first_looking("seats")

COLUMN NAME    :  seats
--------------------------------
per_of_nulls   :  % 10.92
num_of_nulls   :  3125
num_of_uniques :  11
--------------------------------
seats
5.0     18308
4.0      5390
NaN      3125
2.0      1186
7.0       488
8.0        43
9.0        35
3.0        25
6.0        12
0.0         9
1.0         7
17.0        2
Name: count, dtype: int64

**Number of seats in the car is mostly related to their make_models and body_types. So I have decided to fill missing values with mode value of related group.**

In [83]:
fill_mode(df, 'make_model', 'body_type', 'seats')

column name    :  seats
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  11
--------------------------------
seats
5.0     20720
4.0      5967
2.0      1266
7.0       542
8.0        44
9.0        35
3.0        26
6.0        12
0.0         9
1.0         7
17.0        2
Name: count, dtype: int64

**engine_size**

In [81]:
first_looking("engine_size")

COLUMN NAME    :  engine_size
--------------------------------
per_of_nulls   :  % 4.9
num_of_nulls   :  1403
num_of_uniques :  467
--------------------------------
engine_size
1598.0    2099
999.0     2068
1969.0    1929
NaN       1403
1461.0    1110
          ...
2753.0       1
2495.0       1
200.0        1
3224.0       1
2473.0       1
Name: count, Length: 468, dtype: int64

In [84]:
df.groupby(['make_model', 'body_type','engine_size']).price.describe()

                                           count          mean           std  \
make_model   body_type        engine_size
Dacia        Compact          0.0            1.0  19515.000000           NaN
             Sedan            1289.0         1.0   9999.000000           NaN
             Station wagon    999.0          1.0  21799.000000           NaN
Dacia Dokker Compact          1461.0         1.0  11930.000000           NaN
             Off-Road/Pick-up 1598.0         2.0  12490.000000      0.000000
...                                          ...           ...           ...
Volvo XC90   Off-Road/Pick-up 2400.0        14.0  18102.142857  11135.115576
                              2401.0         4.0   7149.500000    404.722539
                              2922.0         2.0  16990.000000      0.000000
             Sedan            1969.0         2.0  48100.000000    565.685425
             Station wagon    1969.0         4.0  32750.000000   3752.776750

                                               min      25%      50%  \
make_model   body_type        engine_size
Dacia        Compact          0.0          19515.0  19515.0  19515.0
             Sedan            1289.0        9999.0   9999.0   9999.0
             Station wagon    999.0        21799.0  21799.0  21799.0
Dacia Dokker Compact          1461.0       11930.0  11930.0  11930.0
             Off-Road/Pick-up 1598.0       12490.0  12490.0  12490.0
...                                            ...      ...      ...
Volvo XC90   Off-Road/Pick-up 2400.0        6400.0   8662.5  13900.0
                              2401.0        6799.0   6799.0   7149.5
                              2922.0       16990.0  16990.0  16990.0
             Sedan            1969.0       47700.0  47900.0  48100.0
             Station wagon    1969.0       29500.0  29500.0  32750.0

                                                75%      max
make_model   body_type        engine_size
Dacia        Compact          0.0          19515.00  19515.0
             Sedan            1289.0        9999.00   9999.0
             Station wagon    999.0        21799.00  21799.0
Dacia Dokker Compact          1461.0       11930.00  11930.0
             Off-Road/Pick-up 1598.0       12490.00  12490.0
...                                             ...      ...
Volvo XC90   Off-Road/Pick-up 2400.0       27486.25  37000.0
                              2401.0        7500.00   7500.0
                              2922.0       16990.00  16990.0
             Sedan            1969.0       48300.00  48500.0
             Station wagon    1969.0       36000.00  36000.0

[3490 rows x 8 columns]

**The engine_size of cars changes generally by their make_models & body_type. So it is reasonable to decide to fill missing values with mode value of related group.**

In [85]:
fill_mode(df, 'make_model', 'body_type', 'engine_size')

column name    :  engine_size
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  467
--------------------------------
engine_size
1598.0     2255
999.0      2145
1969.0     1967
1461.0     1144
1998.0     1056
           ...
1196.0        1
16998.0       1
1489.0        1
2645.0        1
2473.0        1
Name: count, Length: 467, dtype: int64

**gears**

In [82]:
first_looking("gears")

COLUMN NAME    :  gears
--------------------------------
per_of_nulls   :  % 33.8
num_of_nulls   :  9676
num_of_uniques :  11
--------------------------------
gears
NaN     9676
6.0     8412
5.0     5335
7.0     1738
8.0     1690
1.0      712
9.0      642
4.0      256
10.0     112
0.0       31
3.0       24
2.0        2
Name: count, dtype: int64

In [86]:
df.groupby("fuel_type").gears.value_counts(dropna=False)

fuel_type           gears
Benzine             NaN      6218
                    6.0      5066
                    5.0      4197
                    7.0      1155
                    8.0       819
                    1.0       495
                    9.0       349
                    4.0       246
                    10.0      110
                    3.0        24
                    0.0        21
                    2.0         2
Diesel              6.0      3244
                    NaN      3122
                    5.0       979
                    8.0       870
                    7.0       562
                    9.0       290
                    1.0        21
                    4.0         6
                    0.0         6
                    10.0        2
Electric            NaN       229
                    1.0       195
                    6.0         4
                    0.0         4
                    9.0         3
                    5.0         2
                    7.0         1
                    4.0         1
Liquid/Natural Gas  5.0       157
                    NaN       107
                    6.0        98
                    7.0        20
                    4.0         3
                    1.0         1
                    8.0         1
Name: count, dtype: int64

In [87]:
df.groupby(["make_model", "body_type", "gearbox", "gears"]).price.describe()

                                                    count          mean  \
make_model   body_type        gearbox        gears
Dacia        Compact          Automatic      1.0      1.0  19515.000000
             Sedan            Manual         4.0      1.0   9999.000000
Dacia Dokker Station wagon    Manual         5.0     17.0  13079.235294
                                             6.0      2.0  14615.000000
Dacia Duster Off-Road/Pick-up Automatic      6.0      7.0  19494.571429
...                                                   ...           ...
Volvo XC90   Off-Road/Pick-up Automatic      6.0     10.0  19828.000000
                                             8.0    117.0  56608.034188
                              Manual         6.0      2.0   6799.000000
             Station wagon    Automatic      8.0      2.0  29500.000000
                              Semi-automatic 8.0      2.0  36000.000000

                                                             std      min  \
make_model   body_type        gearbox        gears
Dacia        Compact          Automatic      1.0             NaN  19515.0
             Sedan            Manual         4.0             NaN   9999.0
Dacia Dokker Station wagon    Manual         5.0     4207.236126   4790.0
                                             6.0     3726.452737  11980.0
Dacia Duster Off-Road/Pick-up Automatic      6.0     6357.647334  11900.0
...                                                          ...      ...
Volvo XC90   Off-Road/Pick-up Automatic      6.0    12267.795963   6400.0
                                             8.0    17702.880101  29980.0
                              Manual         6.0        0.000000   6799.0
             Station wagon    Automatic      8.0        0.000000  29500.0
                              Semi-automatic 8.0        0.000000  36000.0

                                                        25%      50%      75%  \
make_model   body_type        gearbox        gears
Dacia        Compact          Automatic      1.0    19515.0  19515.0  19515.0
             Sedan            Manual         4.0     9999.0   9999.0   9999.0
Dacia Dokker Station wagon    Manual         5.0    11499.0  13680.0  15980.0
                                             6.0    13297.5  14615.0  15932.5
Dacia Duster Off-Road/Pick-up Automatic      6.0    14945.0  16490.0  25601.0
...                                                     ...      ...      ...
Volvo XC90   Off-Road/Pick-up Automatic      6.0    11850.0  13900.0  29990.0
                                             8.0    44000.0  50990.0  70999.0
                              Manual         6.0     6799.0   6799.0   6799.0
             Station wagon    Automatic      8.0    29500.0  29500.0  29500.0
                              Semi-automatic 8.0    36000.0  36000.0  36000.0

                                                        max
make_model   body_type        gearbox        gears
Dacia        Compact          Automatic      1.0    19515.0
             Sedan            Manual         4.0     9999.0
Dacia Dokker Station wagon    Manual         5.0    19980.0
                                             6.0    17250.0
Dacia Duster Off-Road/Pick-up Automatic      6.0    26980.0
...                                                     ...
Volvo XC90   Off-Road/Pick-up Automatic      6.0    37000.0
                                             8.0    97450.0
                              Manual         6.0     6799.0
             Station wagon    Automatic      8.0    29500.0
                              Semi-automatic 8.0    36000.0

[1991 rows x 8 columns]

**There are a lot of missing values in this feature, so it is really important to proceed with caution. The number of gears of cars changes by their make_models, body_type and gearbox most of the time. So it is reasonable to decide to fill missing values with mode value of related group. At the same time I reduce the margin of error by performing 3 different fractions.**

In [88]:
for group1 in df['make_model'].unique():
    for group2 in df['body_type'].unique():
        for group3 in df['gearbox'].unique():
            cond1 = df['make_model'] == group1
            cond2 = (df['make_model'] == group1) & (df['body_type'] == group2)
            cond3 = (df['make_model'] == group1) & (df['body_type'] == group2) & (df['gearbox'] == group3)
            mode1 = list(df[cond1]['gears'].mode())
            mode2 = list(df[cond2]['gears'].mode())
            mode3 = list(df[cond3]['gears'].mode())
            if mode3 != []:
                df.loc[cond3, 'gears'] = df.loc[cond3, 'gears'].fillna(df[cond3]['gears'].mode()[0])
            elif mode2 != []:
                df.loc[cond3, 'gears'] = df.loc[cond3, 'gears'].fillna(df[cond2]['gears'].mode()[0])
            elif mode1 != []:
                df.loc[cond3, 'gears'] = df.loc[cond3, 'gears'].fillna(df[cond1]['gears'].mode()[0])
            else:
                df.loc[cond3, 'gears'] = df.loc[cond3, 'gears'].fillna(df['gears'].mode()[0])

In [90]:
df['gears'].value_counts(dropna=False)

gears
6.0     12246
5.0      7802
8.0      2737
7.0      2631
1.0      1352
9.0      1144
4.0       379
10.0      244
3.0        61
0.0        31
2.0         3
Name: count, dtype: int64

In [93]:
first_looking("co_emissions")

COLUMN NAME    :  co_emissions
--------------------------------
per_of_nulls   :  % 35.05
num_of_nulls   :  10036
num_of_uniques :  326
--------------------------------
co_emissions
NaN      10036
0.0       1040
119.0      393
124.0      340
129.0      319
         ...
332.0        1
70.0         1
338.0        1
342.0        1
53.0         1
Name: count, Length: 327, dtype: int64

In [95]:
df.groupby(["make_model", "body_type", "fuel_type", "co_emissions"]).price.describe()

                                                               count     mean  \
make_model   body_type        fuel_type          co_emissions
Dacia        Station wagon    Benzine            130.0           1.0  21799.0
Dacia Dokker Off-Road/Pick-up Benzine            143.0           1.0  12490.0
                              Liquid/Natural Gas 143.0           1.0  12490.0
             Station wagon    Benzine            0.0             1.0  15490.0
                                                 130.0           2.0  10824.5
...                                                              ...      ...
Volvo XC90   Off-Road/Pick-up Diesel             224.0           2.0  11850.0
                              Electric           0.0             4.0  64400.0
             Sedan            Diesel             47.0            1.0  84900.0
             Station wagon    Diesel             149.0           2.0  29500.0
                                                 152.0           2.0  36000.0

                                                                       std  \
make_model   body_type        fuel_type          co_emissions
Dacia        Station wagon    Benzine            130.0                 NaN
Dacia Dokker Off-Road/Pick-up Benzine            143.0                 NaN
                              Liquid/Natural Gas 143.0                 NaN
             Station wagon    Benzine            0.0                   NaN
                                                 130.0         1236.729760
...                                                                    ...
Volvo XC90   Off-Road/Pick-up Diesel             224.0            0.000000
                              Electric           0.0           9814.954576
             Sedan            Diesel             47.0                  NaN
             Station wagon    Diesel             149.0            0.000000
                                                 152.0            0.000000

                                                                   min  \
make_model   body_type        fuel_type          co_emissions
Dacia        Station wagon    Benzine            130.0         21799.0
Dacia Dokker Off-Road/Pick-up Benzine            143.0         12490.0
                              Liquid/Natural Gas 143.0         12490.0
             Station wagon    Benzine            0.0           15490.0
                                                 130.0          9950.0
...                                                                ...
Volvo XC90   Off-Road/Pick-up Diesel             224.0         11850.0
                              Electric           0.0           55900.0
             Sedan            Diesel             47.0          84900.0
             Station wagon    Diesel             149.0         29500.0
                                                 152.0         36000.0

                                                                    25%  \
make_model   body_type        fuel_type          co_emissions
Dacia        Station wagon    Benzine            130.0         21799.00
Dacia Dokker Off-Road/Pick-up Benzine            143.0         12490.00
                              Liquid/Natural Gas 143.0         12490.00
             Station wagon    Benzine            0.0           15490.00
                                                 130.0         10387.25
...                                                                 ...
Volvo XC90   Off-Road/Pick-up Diesel             224.0         11850.00
                              Electric           0.0           55900.00
             Sedan            Diesel             47.0          84900.00
             Station wagon    Diesel             149.0         29500.00
                                                 152.0         36000.00

                                                                   50%  \
make_model   body_type        fuel_type          co_emissions
Dacia        Station wagon    Benzine            130.0         21799.0
Dacia Dokker Off-Road/Pick-up Benzine            143.0         12490.0
                              Liquid/Natural Gas 143.0         12490.0
             Station wagon    Benzine            0.0           15490.0
                                                 130.0         10824.5
...                                                                ...
Volvo XC90   Off-Road/Pick-up Diesel             224.0         11850.0
                              Electric           0.0           64400.0
             Sedan            Diesel             47.0          84900.0
             Station wagon    Diesel             149.0         29500.0
                                                 152.0         36000.0

                                                                    75%  \
make_model   body_type        fuel_type          co_emissions
Dacia        Station wagon    Benzine            130.0         21799.00
Dacia Dokker Off-Road/Pick-up Benzine            143.0         12490.00
                              Liquid/Natural Gas 143.0         12490.00
             Station wagon    Benzine            0.0           15490.00
                                                 130.0         11261.75
...                                                                 ...
Volvo XC90   Off-Road/Pick-up Diesel             224.0         11850.00
                              Electric           0.0           72900.00
             Sedan            Diesel             47.0          84900.00
             Station wagon    Diesel             149.0         29500.00
                                                 152.0         36000.00

                                                                   max
make_model   body_type        fuel_type          co_emissions
Dacia        Station wagon    Benzine            130.0         21799.0
Dacia Dokker Off-Road/Pick-up Benzine            143.0         12490.0
                              Liquid/Natural Gas 143.0         12490.0
             Station wagon    Benzine            0.0           15490.0
                                                 130.0         11699.0
...                                                                ...
Volvo XC90   Off-Road/Pick-up Diesel             224.0         11850.0
                              Electric           0.0           72900.0
             Sedan            Diesel             47.0          84900.0
             Station wagon    Diesel             149.0         29500.0
                                                 152.0         36000.0

[7065 rows x 8 columns]

In [96]:
df.groupby(["fuel_type"])["co_emissions"].value_counts(dropna=False)

fuel_type           co_emissions
Benzine             NaN             6020
                    0.0              673
                    124.0            241
                    119.0            235
                    114.0            217
                                    ...
Liquid/Natural Gas  99.0               1
                    97.0               1
                    7.0                1
                    30.0               1
                    88.0               1
Name: count, Length: 613, dtype: int64

In [97]:
df[df["fuel_type"] == "Electric"]["co_emissions"].value_counts(dropna=False)

co_emissions
NaN      251
0.0      185
1.0        2
132.0      1
Name: count, dtype: int64

In [98]:
df[df["fuel_type"] == "Benzine"]["co_emissions"].value_counts(dropna=False)

co_emissions
NaN      6020
0.0       673
124.0     241
119.0     235
114.0     217
         ...
272.0       1
332.0       1
343.0       1
73.0        1
53.0        1
Name: count, Length: 322, dtype: int64

**It is reasonable for 'co_emissions' feature to fill the missing values with the Median values of related 'make_model', 'body_type' and 'fuel_type' features. But we see in vehicles with 'Electric' fuel_type that almost all of them have 0 co_emission. Therefore, I decided to fill the missing values of that group with the mode of the electric cars.**

In [99]:
df.loc[df["fuel_type"] == "Electric", "co_emissions"] = df.loc[df["fuel_type"] == "Electric", "co_emissions"].fillna(df.loc[df["fuel_type"] == "Electric", "co_emissions"].mode()[0])
df.loc[df["fuel_type"] == "Electric", "co_emissions"].value_counts(dropna=False)

co_emissions
0.0      436
1.0        2
132.0      1
Name: count, dtype: int64

In [101]:
df.loc[(df["fuel_type"] == "Electric") & (df["co_emissions"] != 0)][["fuel_type", "co_emissions"]]

      fuel_type  co_emissions
5831   Electric         132.0
9102   Electric           1.0
20582  Electric           1.0

**I see that there is a car, who has fuel_type 'Electric' but also has 132 co_emissions. It is a bit suspicious. Lets take a look at that row.**

In [102]:
df.iloc[5831]

make_model                                                    Renault Arkana
make                                                                 Renault
price                                                                27500.0
body_type                                                              Coupe
type                                                          Pre-registered
doors                                                                    5.0
warranty                                                                  No
mileage                                                                 10.0
gearbox                                                            Automatic
fuel_type                                                           Electric
seller                                                                Dealer
seats                                                                    5.0
engine_size                                                           1333.0
gears                                                                    7.0
co_emissions                                                           132.0
drivetrain                                                             Front
cylinders                                                                4.0
comfort_&_convenience      Air conditioning, Armrest, Automatic climate c...
entertainment_&_media                  Apple CarPlay, Digital cockpit, Radio
safety_&_security          ABS, Adaptive Cruise Control, Blind spot monit...
extras                     Alloy wheels (18"), Automatically dimming inte...
empty_weight                                                          1336.0
full_service_history                                                      No
non_smoker_vehicle                                                        No
upholstery                                                               NaN
previous_owner                                                           1.0
energy_efficiency_class                                                  NaN
age                                                                      0.0
power_hp                                                               140.0
power_kw                                                               103.0
cons_avg                                                                 NaN
cons_city                                                                NaN
cons_country                                                             NaN
Name: 5831, dtype: object

In [103]:
df.loc[df["make_model"] == "Renault Arkana"][["gearbox", "fuel_type", "gears", "co_emissions"]]

        gearbox fuel_type  gears  co_emissions
5612  Automatic   Benzine    7.0           NaN
5615  Automatic   Benzine    7.0           NaN
5618  Automatic   Benzine    7.0           NaN
5622  Automatic   Benzine    7.0           NaN
5623  Automatic   Benzine    7.0           NaN
...         ...       ...    ...           ...
6321  Automatic   Benzine    7.0           NaN
6788  Automatic   Benzine    7.0         124.0
6797  Automatic   Benzine    7.0         124.0
6838  Automatic   Benzine    7.0         124.0
7074  Automatic   Benzine    7.0         121.0

[64 rows x 4 columns]

**I can see that there is probably a wrong data entry here, so I am correcting it.**

In [104]:
df.iloc[5831, df.columns.get_loc("fuel_type")] = "Benzine"

In [105]:
df.loc[5831]["fuel_type"]

'Benzine'

In [108]:
def fill_median(df, group_col1, group_col2, group_col3, col_name):
    
    df[col_name].fillna(df.groupby([group_col1, group_col2, group_col3])[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df.groupby([group_col1, group_col2])[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df.groupby(group_col1)[col_name].transform("median"), inplace = True)
    df[col_name].fillna(df[col_name].median(), inplace = True)

    print("column name    : ", col_name)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col_name].isnull().sum()*100 / df.shape[0], 2))
    print("num_of_nulls   : ", df[col_name].isnull().sum())
    print("num_of_uniques : ", df[col_name].nunique())
    print("--------------------------------")
    print(df[col_name].value_counts(dropna = False))

In [109]:
fill_median(df, "make_model", "body_type", "fuel_type", "co_emissions")

column name    :  co_emissions
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  389
--------------------------------
co_emissions
0.00      1410
124.00    1080
115.00     681
99.00      588
119.00     574
          ...
338.00       1
95.50        1
146.75       1
123.50       1
53.00        1
Name: count, Length: 389, dtype: int64

**drivetrain**

In [112]:
first_looking('drivetrain')

COLUMN NAME    :  drivetrain
--------------------------------
per_of_nulls   :  % 41.0
num_of_nulls   :  11737
num_of_uniques :  3
--------------------------------
drivetrain
Front    12066
NaN      11737
4WD       3252
Rear      1575
Name: count, dtype: int64

In [113]:
df.groupby(['make_model', 'body_type', 'drivetrain']).price.describe()

                                          count          mean           std  \
make_model   body_type        drivetrain
Dacia        Compact          Front         1.0  19515.000000           NaN
Dacia Dokker Station wagon    Front        12.0  14543.250000   3769.016682
Dacia Duster Off-Road/Pick-up 4WD          60.0  18783.233333   4847.982737
                              Front       123.0  15026.333333   4163.660056
                              Rear          1.0  20750.000000           NaN
...                                         ...           ...           ...
Volvo XC70   Station wagon    Front         4.0  21450.000000   6350.852961
Volvo XC90   Coupe            4WD           4.0  49900.000000      0.000000
             Off-Road/Pick-up 4WD         167.0  52999.940120  20131.832659
                              Front         8.0  30697.250000  10639.353777
             Station wagon    4WD           4.0  32750.000000   3752.776750

                                              min      25%      50%       75%  \
make_model   body_type        drivetrain
Dacia        Compact          Front       19515.0  19515.0  19515.0  19515.00
Dacia Dokker Station wagon    Front        5600.0  12662.5  15235.0  16987.50
Dacia Duster Off-Road/Pick-up 4WD          5900.0  15490.0  19475.0  23035.00
                              Front        5700.0  12143.0  15290.0  17955.00
                              Rear        20750.0  20750.0  20750.0  20750.00
...                                           ...      ...      ...       ...
Volvo XC70   Station wagon    Front       15950.0  15950.0  21450.0  26950.00
Volvo XC90   Coupe            4WD         49900.0  49900.0  49900.0  49900.00
             Off-Road/Pick-up 4WD          6400.0  42500.0  49980.0  65145.00
                              Front       13900.0  28967.5  34494.5  36224.25
             Station wagon    4WD         29500.0  29500.0  32750.0  36000.00

                                              max
make_model   body_type        drivetrain
Dacia        Compact          Front       19515.0
Dacia Dokker Station wagon    Front       19980.0
Dacia Duster Off-Road/Pick-up 4WD         27128.0
                              Front       29950.0
                              Rear        20750.0
...                                           ...
Volvo XC70   Station wagon    Front       26950.0
Volvo XC90   Coupe            4WD         49900.0
             Off-Road/Pick-up 4WD         97450.0
                              Front       39900.0
             Station wagon    4WD         36000.0

[1207 rows x 8 columns]

**The drivetrain of cars changes in general by their make_models & body_type. So it is reasonable to fill missing values with mode value of related group.**

In [114]:
df[df["body_type"] == "Off-Road/Pick-up"][["make_model", "body_type", "drivetrain"]].value_counts()

make_model                body_type         drivetrain
Volvo XC60                Off-Road/Pick-up  4WD           216
Fiat 500X                 Off-Road/Pick-up  Front         203
Volvo XC90                Off-Road/Pick-up  4WD           167
Dacia Duster              Off-Road/Pick-up  Front         123
Skoda Kodiaq              Off-Road/Pick-up  4WD           105
                                                         ...
Mercedes-Benz GLS 63 AMG  Off-Road/Pick-up  4WD             1
Skoda Enyaq               Off-Road/Pick-up  4WD             1
Mercedes-Benz GLK 220     Off-Road/Pick-up  Rear            1
Fiat Strada               Off-Road/Pick-up  Front           1
Mercedes-Benz 170         Off-Road/Pick-up  4WD             1
Name: count, Length: 214, dtype: int64

In [115]:
fill_mode(df, 'make_model', 'body_type', 'drivetrain')

column name    :  drivetrain
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  3
--------------------------------
drivetrain
Front    21492
4WD       4321
Rear      2817
Name: count, dtype: int64

**cylinders**

In [110]:
first_looking("cylinders")

COLUMN NAME    :  cylinders
--------------------------------
per_of_nulls   :  % 34.15
num_of_nulls   :  9778
num_of_uniques :  12
--------------------------------
cylinders
4.0     13068
NaN      9778
3.0      3258
6.0      1013
5.0       799
8.0       539
2.0       103
0.0        35
1.0        21
12.0        8
7.0         6
26.0        1
16.0        1
Name: count, dtype: int64

**Cylinders are mostly related to make_model and body_type of a car. But I have decided to drop the cylinders feature in this analysis since there have been some other features, such as "hp, engine_size, empty_weight", having fewer missing values and giving similar insight.**

In [116]:
df.drop("cylinders", axis=1, inplace=True)

**power_kw**

In [118]:
first_looking("power_kw")

COLUMN NAME    :  power_kw
--------------------------------
per_of_nulls   :  % 2.0
num_of_nulls   :  572
num_of_uniques :  351
--------------------------------
power_kw
110.0    1992
96.0     1356
88.0     1182
81.0     1166
66.0     1110
         ...
746.0       1
570.0       1
471.0       1
179.0       1
26.0        1
Name: count, Length: 352, dtype: int64

In [120]:
df.groupby(["make_model", "body_type", "power_kw"]).price.describe()

                                        count          mean          std  \
make_model   body_type        power_kw
Dacia        Compact          33.0        3.0  21431.000000  1661.743663
             Sedan            40.0        1.0   9999.000000          NaN
             Station wagon    81.0        1.0  21799.000000          NaN
Dacia Dokker Compact          66.0        1.0  11930.000000          NaN
             Off-Road/Pick-up 75.0        2.0  12490.000000     0.000000
...                                       ...           ...          ...
Volvo XC90   Off-Road/Pick-up 294.0       6.0  50793.333333  6277.644994
                              300.0       2.0  44200.000000     0.000000
             Sedan            173.0       2.0  48100.000000   565.685425
                              223.0       1.0  84900.000000          NaN
             Station wagon    165.0       4.0  32750.000000  3752.776750

                                            min      25%      50%      75%  \
make_model   body_type        power_kw
Dacia        Compact          33.0      19515.0  20907.0  22299.0  22389.0
             Sedan            40.0       9999.0   9999.0   9999.0   9999.0
             Station wagon    81.0      21799.0  21799.0  21799.0  21799.0
Dacia Dokker Compact          66.0      11930.0  11930.0  11930.0  11930.0
             Off-Road/Pick-up 75.0      12490.0  12490.0  12490.0  12490.0
...                                         ...      ...      ...      ...
Volvo XC90   Off-Road/Pick-up 294.0     42790.0  45515.0  53690.0  55347.5
                              300.0     44200.0  44200.0  44200.0  44200.0
             Sedan            173.0     47700.0  47900.0  48100.0  48300.0
                              223.0     84900.0  84900.0  84900.0  84900.0
             Station wagon    165.0     29500.0  29500.0  32750.0  36000.0

                                            max
make_model   body_type        power_kw
Dacia        Compact          33.0      22479.0
             Sedan            40.0       9999.0
             Station wagon    81.0      21799.0
Dacia Dokker Compact          66.0      11930.0
             Off-Road/Pick-up 75.0      12490.0
...                                         ...
Volvo XC90   Off-Road/Pick-up 294.0     55900.0
                              300.0     44200.0
             Sedan            173.0     48500.0
                              223.0     84900.0
             Station wagon    165.0     36000.0

[4884 rows x 8 columns]

In [127]:
df.loc[df["power_kw"].isna()][["make_model", "body_type", "power_kw", "power_hp", "engine_size", "fuel_type"]]

,make_model,body_type,power_kw,power_hp,engine_size,fuel_type
0,Mercedes-Benz A 160,Compact,NaN,NaN,1595.0,Diesel
6,Mercedes-Benz CLA 180,Compact,NaN,NaN,1595.0,Diesel
94,Mercedes-Benz EQS,Compact,NaN,NaN,0.0,Electric
100,Mercedes-Benz A 200,Compact,NaN,NaN,1337.0,Benzine
114,Mercedes-Benz A 200,Compact,NaN,NaN,1337.0,Benzine
...,...,...,...,...,...,...
26831,Volvo XC60,Off-Road/Pick-up,NaN,NaN,1969.0,Diesel
27220,Volvo XC60,Off-Road/Pick-up,NaN,NaN,1969.0,Diesel
27804,Volvo 240,Station wagon,NaN,NaN,2316.0,Benzine
28184,Volvo 240,Station wagon,NaN,NaN,2316.0,Benzine
28608,Volvo XC60,Sedan,NaN,NaN,1969.0,Benzine

**The kW of cars changes by their make_models & body_type most of the time. So it is more beneficial to decide to fill missing values with mode value of related group.**

In [128]:
fill_mode(df, 'make_model', 'body_type', 'power_kw')

column name    :  power_kw
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  351
--------------------------------
power_kw
110.0    2018
96.0     1426
88.0     1202
81.0     1186
66.0     1152
         ...
570.0       1
471.0       1
179.0       1
284.0       1
26.0        1
Name: count, Length: 351, dtype: int64

**power_hp**

In [129]:
first_looking("power_hp")

COLUMN NAME    :  power_hp
--------------------------------
per_of_nulls   :  % 2.0
num_of_nulls   :  572
num_of_uniques :  347
--------------------------------
power_hp
150.0    1992
131.0    1356
120.0    1182
110.0    1166
90.0     1110
         ...
465.0       1
412.0       1
670.0       1
506.0       1
33.0        1
Name: count, Length: 348, dtype: int64

**I have decided to drop the "hp" feature is dropped from the analysis. "kW" will be used for further steps since "kW" is used as the indicator of comsumption for electric vehicles and Kilowatts provide a straightforward and standardized way of expressing power.**

In [132]:
df.drop("power_hp", axis=1, inplace=True)

**cons_avg**

In [133]:
first_looking("cons_avg")

COLUMN NAME    :  cons_avg
--------------------------------
per_of_nulls   :  % 18.32
num_of_nulls   :  5245
num_of_uniques :  161
--------------------------------
cons_avg
NaN     5245
5.0      831
4.9      812
4.5      690
0.0      652
        ...
16.0       1
57.0       1
61.0       1
14.5       1
44.0       1
Name: count, Length: 162, dtype: int64

In [134]:
df.loc[df["fuel_type"] == "Electric"][["cons_avg"]]

       cons_avg
1           NaN
93          NaN
94          NaN
108         NaN
1213        NaN
...         ...
26985       NaN
27338       NaN
27367       NaN
28340       NaN
28528       NaN

[438 rows x 1 columns]

**No values seem to be entered for electric vehicles. We are all used to the fact that the fuel consumption of a petrol or diesel car is expressed in litres per hundred kilometres (l/100 km). However electric vehicles do not utilize traditional fuel sources such as petrol or diesel. Instead, they rely on energy stored in a battery. Unlike conventional cars, where fuel consumption is expressed in litres per hundred kilometres (l/100 km), the energy consumption of electric cars is expressed in kilowatt-hours needed to cover a hundred kilometres (kWh/100 km)**

**We know that a litre of petrol contains about 8.9 kWh of energy. And the average consumption of electric vehicles, in general, is accepted as 20 kWh/100km, then 20/8.9 is equal to 2.247 l/100 km, which can be used to fill missing values for electric vehicles.**

In [135]:
df.loc[df["fuel_type"] == "Electric", "cons_avg"] = 2.247
df.loc[df["fuel_type"] == "Electric"][["cons_avg"]]

       cons_avg
1         2.247
93        2.247
94        2.247
108       2.247
1213      2.247
...         ...
26985     2.247
27338     2.247
27367     2.247
28340     2.247
28528     2.247

[438 rows x 1 columns]

**cons_avg**

In [136]:
first_looking("cons_avg")

COLUMN NAME    :  cons_avg
--------------------------------
per_of_nulls   :  % 16.79
num_of_nulls   :  4807
num_of_uniques :  162
--------------------------------
cons_avg
NaN     4807
5.0      831
4.9      812
4.5      690
0.0      652
        ...
0.5        1
16.0       1
57.0       1
15.9       1
44.0       1
Name: count, Length: 163, dtype: int64

**First of all I am going to try to calculate the average consumption for the other missing values, using 'cons_city' and 'cons_country' features**

In [138]:
df[(df["cons_avg"].isnull()) & (df["cons_city"].notnull()) & (df["cons_country"].notnull())]

Empty DataFrame
Columns: [make_model, make, price, body_type, type, doors, warranty, mileage, gearbox, fuel_type, seller, seats, engine_size, gears, co_emissions, drivetrain, comfort_&_convenience, entertainment_&_media, safety_&_security, extras, empty_weight, full_service_history, non_smoker_vehicle, upholstery, previous_owner, energy_efficiency_class, age, power_kw, cons_avg, cons_city, cons_country]
Index: []

[0 rows x 31 columns]

**If there were rows with cons_avg feature empty but cons_city and cons_country features full, I would fill the NaN values here using the average of these two features, but there is no such row.**

**So it is more reasonable to fill the other missing values with the Median values of related make_model, body_type and fuel_type features**

In [140]:
df.groupby(["make_model", "body_type", "fuel_type", "cons_avg"]).price.describe()

                                                           count      mean  \
make_model   body_type        fuel_type          cons_avg
Dacia        Station wagon    Benzine            5.600       1.0  21799.00
Dacia Dokker Compact          Diesel             4.200       1.0  11930.00
             Off-Road/Pick-up Benzine            6.300       1.0  12490.00
                              Liquid/Natural Gas 6.300       1.0  12490.00
             Station wagon    Benzine            5.700       4.0  14152.25
...                                                          ...       ...
Volvo XC90   Off-Road/Pick-up Diesel             9.100       2.0   6799.00
                              Electric           2.247       4.0  64400.00
             Sedan            Diesel             6.700       2.0  48100.00
             Station wagon    Diesel             5.700       2.0  29500.00
                                                 5.800       2.0  36000.00

                                                                   std  \
make_model   body_type        fuel_type          cons_avg
Dacia        Station wagon    Benzine            5.600             NaN
Dacia Dokker Compact          Diesel             4.200             NaN
             Off-Road/Pick-up Benzine            6.300             NaN
                              Liquid/Natural Gas 6.300             NaN
             Station wagon    Benzine            5.700     4409.277369
...                                                                ...
Volvo XC90   Off-Road/Pick-up Diesel             9.100        0.000000
                              Electric           2.247     9814.954576
             Sedan            Diesel             6.700      565.685425
             Station wagon    Diesel             5.700        0.000000
                                                 5.800        0.000000

                                                               min       25%  \
make_model   body_type        fuel_type          cons_avg
Dacia        Station wagon    Benzine            5.600     21799.0  21799.00
Dacia Dokker Compact          Diesel             4.200     11930.0  11930.00
             Off-Road/Pick-up Benzine            6.300     12490.0  12490.00
                              Liquid/Natural Gas 6.300     12490.0  12490.00
             Station wagon    Benzine            5.700      9950.0  11261.75
...                                                            ...       ...
Volvo XC90   Off-Road/Pick-up Diesel             9.100      6799.0   6799.00
                              Electric           2.247     55900.0  55900.00
             Sedan            Diesel             6.700     47700.0  47900.00
             Station wagon    Diesel             5.700     29500.0  29500.00
                                                 5.800     36000.0  36000.00

                                                               50%      75%  \
make_model   body_type        fuel_type          cons_avg
Dacia        Station wagon    Benzine            5.600     21799.0  21799.0
Dacia Dokker Compact          Diesel             4.200     11930.0  11930.0
             Off-Road/Pick-up Benzine            6.300     12490.0  12490.0
                              Liquid/Natural Gas 6.300     12490.0  12490.0
             Station wagon    Benzine            5.700     13339.5  16230.0
...                                                            ...      ...
Volvo XC90   Off-Road/Pick-up Diesel             9.100      6799.0   6799.0
                              Electric           2.247     64400.0  72900.0
             Sedan            Diesel             6.700     48100.0  48300.0
             Station wagon    Diesel             5.700     29500.0  29500.0
                                                 5.800     36000.0  36000.0

                                                               max
make_model   body_type        fuel_type          cons_avg
Dacia        Station wagon    Benzine            5.600     21799.0
Dacia Dokker Compact          Diesel             4.200     11930.0
             Off-Road/Pick-up Benzine            6.300     12490.0
                              Liquid/Natural Gas 6.300     12490.0
             Station wagon    Benzine            5.700     19980.0
...                                                            ...
Volvo XC90   Off-Road/Pick-up Diesel             9.100      6799.0
                              Electric           2.247     72900.0
             Sedan            Diesel             6.700     48500.0
             Station wagon    Diesel             5.700     29500.0
                                                 5.800     36000.0

[6431 rows x 8 columns]

In [141]:
fill_median(df, "make_model", "body_type", "fuel_type", "cons_avg")

column name    :  cons_avg
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  219
--------------------------------
cons_avg
4.90     1043
5.00      966
4.50      889
5.10      887
5.30      887
         ...
6.85        1
6.05        1
44.00       1
7.05        1
14.20       1
Name: count, Length: 219, dtype: int64

**cons_city and cons_country**

In [142]:
first_looking("cons_city")

COLUMN NAME    :  cons_city
--------------------------------
per_of_nulls   :  % 29.79
num_of_nulls   :  8530
num_of_uniques :  195
--------------------------------
cons_city
NaN     8530
5.8      494
6.4      485
5.3      479
5.7      464
        ...
21.5       1
50.0       1
3.1        1
79.0       1
76.1       1
Name: count, Length: 196, dtype: int64

In [143]:
first_looking("cons_country")

COLUMN NAME    :  cons_country
--------------------------------
per_of_nulls   :  % 29.79
num_of_nulls   :  8530
num_of_uniques :  114
--------------------------------
cons_country
NaN     8530
4.3      884
4.0      804
4.2      750
4.7      730
        ...
18.0       1
11.7       1
14.4       1
11.5       1
12.7       1
Name: count, Length: 115, dtype: int64

**I have decided to drop both of these features, because I am going to use 'cons_avg' feature.**

In [144]:
df.drop("cons_city", axis=1, inplace=True)

In [145]:
df.drop("cons_country", axis=1, inplace=True)

In [146]:
df.shape

(28630, 29)

**empty_weight**

In [148]:
first_looking("empty_weight")

COLUMN NAME    :  empty_weight
--------------------------------
per_of_nulls   :  % 37.97
num_of_nulls   :  10872
num_of_uniques :  1218
--------------------------------
empty_weight
NaN       10872
1395.0      233
1055.0      224
1423.0      216
1165.0      200
          ...
1877.0        1
1011.0        1
1069.0        1
983.0         1
1391.0        1
Name: count, Length: 1219, dtype: int64

In [149]:
df.groupby(["make_model", "body_type", "empty_weight"]).price.describe()

                                            count     mean          std  \
make_model   body_type        empty_weight
Dacia        Compact          1045.0          1.0  19515.0          NaN
             Sedan            935.0           1.0   9999.0          NaN
Dacia Dokker Station wagon    1165.0          1.0   5600.0          NaN
                              1205.0          1.0  15700.0          NaN
                              1224.0          2.0  13739.5  3168.545486
...                                           ...      ...          ...
Volvo XC90   Off-Road/Pick-up 2350.0          4.0  50050.0  6754.998150
                              2384.0          2.0  67990.0     0.000000
                              2395.0          2.0  76930.0     0.000000
             Station wagon    1931.0          2.0  29500.0     0.000000
                              2028.0          2.0  36000.0     0.000000

                                                min       25%      50%  \
make_model   body_type        empty_weight
Dacia        Compact          1045.0        19515.0  19515.00  19515.0
             Sedan            935.0          9999.0   9999.00   9999.0
Dacia Dokker Station wagon    1165.0         5600.0   5600.00   5600.0
                              1205.0        15700.0  15700.00  15700.0
                              1224.0        11499.0  12619.25  13739.5
...                                             ...       ...      ...
Volvo XC90   Off-Road/Pick-up 2350.0        44200.0  44200.00  50050.0
                              2384.0        67990.0  67990.00  67990.0
                              2395.0        76930.0  76930.00  76930.0
             Station wagon    1931.0        29500.0  29500.00  29500.0
                              2028.0        36000.0  36000.00  36000.0

                                                 75%      max
make_model   body_type        empty_weight
Dacia        Compact          1045.0        19515.00  19515.0
             Sedan            935.0          9999.00   9999.0
Dacia Dokker Station wagon    1165.0         5600.00   5600.0
                              1205.0        15700.00  15700.0
                              1224.0        14859.75  15980.0
...                                              ...      ...
Volvo XC90   Off-Road/Pick-up 2350.0        55900.00  55900.0
                              2384.0        67990.00  67990.0
                              2395.0        76930.00  76930.0
             Station wagon    1931.0        29500.00  29500.0
                              2028.0        36000.00  36000.0

[6419 rows x 8 columns]

**The empty_weight of cars changes generally by their make_models & body_type. So it is reasonable to decide to fill missing values with mode value of related group.**

In [150]:
fill_mode(df, "make_model", "body_type", "empty_weight")

column name    :  empty_weight
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  1218
--------------------------------
empty_weight
1320.0    724
1280.0    518
1055.0    474
1395.0    461
1165.0    392
         ...
944.0       1
1019.0      1
2156.0      1
2232.0      1
1391.0      1
Name: count, Length: 1218, dtype: int64

**previous_owner**

In [151]:
first_looking("previous_owner")

COLUMN NAME    :  previous_owner
--------------------------------
per_of_nulls   :  % 51.05
num_of_nulls   :  14615
num_of_uniques :  13
--------------------------------
previous_owner
NaN     14615
1.0      9746
2.0      3221
3.0       699
4.0       184
5.0        69
6.0        37
7.0        22
8.0        16
9.0        14
12.0        3
10.0        2
14.0        1
13.0        1
Name: count, dtype: int64

In [152]:
df.groupby(['make_model', 'body_type', 'age', 'previous_owner']).price.describe()

                                                   count          mean  \
make_model   body_type        age  previous_owner
Dacia        Compact          0.0  1.0               2.0  22389.000000
                              1.0  1.0               1.0  19515.000000
             Station wagon    0.0  1.0               1.0  21799.000000
Dacia Dokker Off-Road/Pick-up 4.0  2.0               2.0  12490.000000
             Station wagon    4.0  1.0               5.0  13169.800000
...                                                  ...           ...
Volvo XC90   Off-Road/Pick-up 6.0  1.0               8.0  38112.500000
                                   2.0               6.0  41456.666667
                              14.0 3.0               2.0  11850.000000
                              16.0 3.0               2.0  16990.000000
             Station wagon    6.0  1.0               4.0  32750.000000

                                                           std      min  \
make_model   body_type        age  previous_owner
Dacia        Compact          0.0  1.0              127.279221  22299.0
                              1.0  1.0                     NaN  19515.0
             Station wagon    0.0  1.0                     NaN  21799.0
Dacia Dokker Off-Road/Pick-up 4.0  2.0                0.000000  12490.0
             Station wagon    4.0  1.0             1818.731756  10990.0
...                                                        ...      ...
Volvo XC90   Off-Road/Pick-up 6.0  1.0             7528.899085  29980.0
                                   2.0             6457.084998  33990.0
                              14.0 3.0                0.000000  11850.0
                              16.0 3.0                0.000000  16990.0
             Station wagon    6.0  1.0             3752.776750  29500.0

                                                        25%      50%  \
make_model   body_type        age  previous_owner
Dacia        Compact          0.0  1.0             22344.00  22389.0
                              1.0  1.0             19515.00  19515.0
             Station wagon    0.0  1.0             21799.00  21799.0
Dacia Dokker Off-Road/Pick-up 4.0  2.0             12490.00  12490.0
             Station wagon    4.0  1.0             11699.00  13680.0
...                                                     ...      ...
Volvo XC90   Off-Road/Pick-up 6.0  1.0             33358.75  36740.0
                                   2.0             35987.50  41980.0
                              14.0 3.0             11850.00  11850.0
                              16.0 3.0             16990.00  16990.0
             Station wagon    6.0  1.0             29500.00  32750.0

                                                        75%      max
make_model   body_type        age  previous_owner
Dacia        Compact          0.0  1.0             22434.00  22479.0
                              1.0  1.0             19515.00  19515.0
             Station wagon    0.0  1.0             21799.00  21799.0
Dacia Dokker Off-Road/Pick-up 4.0  2.0             12490.00  12490.0
             Station wagon    4.0  1.0             13990.00  15490.0
...                                                     ...      ...
Volvo XC90   Off-Road/Pick-up 6.0  1.0             41493.75  48990.0
                                   2.0             46795.00  48400.0
                              14.0 3.0             11850.00  11850.0
                              16.0 3.0             16990.00  16990.0
             Station wagon    6.0  1.0             36000.00  36000.0

[4801 rows x 8 columns]

In [ ]:
df.groupby(['make_model', 'body_type', 'age', 'previous_owner']).mileage.describe()

**previous_owner is mostly related to the age of the car**

In [155]:
df[df['age']==14]['previous_owner']

78       NaN
80       NaN
412      4.0
413      4.0
417      NaN
        ...
28444    2.0
28475    NaN
28510    4.0
28523    4.0
28612    1.0
Name: previous_owner, Length: 441, dtype: float64

In [156]:
fill_prop(df, "age", "previous_owner")

COLUMN NAME    :  previous_owner
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  13
--------------------------------
previous_owner
1.0     18703
2.0      7202
3.0      1756
4.0       500
5.0       206
6.0       100
7.0        57
8.0        71
9.0        25
10.0        2
12.0        6
13.0        1
14.0        1
Name: count, dtype: int64

**energy_efficiency_class**

In [157]:
first_looking("energy_efficiency_class")

COLUMN NAME    :  energy_efficiency_class
--------------------------------
per_of_nulls   :  % 72.74
num_of_nulls   :  20826
num_of_uniques :  2
--------------------------------
energy_efficiency_class
NaN            20826
efficient       5308
unefficient     2496
Name: count, dtype: int64

**There are a lot of NaN values in this feature, so it is important to proceed with caution**

In [158]:
df.groupby(['energy_efficiency_class', 'make_model', 'body_type', 'age']).mileage.describe()

                                                            count  \
energy_efficiency_class make_model   body_type        age
efficient               Dacia        Compact          0.0     2.0
                                                      1.0     1.0
                        Dacia Dokker Station wagon    4.0     1.0
                                                      5.0     1.0
                        Dacia Duster Off-Road/Pick-up 0.0    12.0
...                                                           ...
unefficient             Toyota Verso Station wagon    9.0     1.0
                        Toyota iQ    Compact          11.0    1.0
                        Volvo C30    Compact          12.0    2.0
                                     Coupe            10.0    2.0
                        Volvo V50    Station wagon    13.0    2.0

                                                                     mean  \
energy_efficiency_class make_model   body_type        age
efficient               Dacia        Compact          0.0      110.000000
                                                      1.0     2376.000000
                        Dacia Dokker Station wagon    4.0    80000.000000
                                                      5.0    33345.000000
                        Dacia Duster Off-Road/Pick-up 0.0      979.166667
...                                                                   ...
unefficient             Toyota Verso Station wagon    9.0    37500.000000
                        Toyota iQ    Compact          11.0   60630.000000
                        Volvo C30    Compact          12.0  162000.000000
                                     Coupe            10.0   96800.000000
                        Volvo V50    Station wagon    13.0  258100.000000

                                                                    std  \
energy_efficiency_class make_model   body_type        age
efficient               Dacia        Compact          0.0      0.000000
                                                      1.0           NaN
                        Dacia Dokker Station wagon    4.0           NaN
                                                      5.0           NaN
                        Dacia Duster Off-Road/Pick-up 0.0   2278.007336
...                                                                 ...
unefficient             Toyota Verso Station wagon    9.0           NaN
                        Toyota iQ    Compact          11.0          NaN
                        Volvo C30    Compact          12.0     0.000000
                                     Coupe            10.0     0.000000
                        Volvo V50    Station wagon    13.0     0.000000

                                                                 min  \
energy_efficiency_class make_model   body_type        age
efficient               Dacia        Compact          0.0      110.0
                                                      1.0     2376.0
                        Dacia Dokker Station wagon    4.0    80000.0
                                                      5.0    33345.0
                        Dacia Duster Off-Road/Pick-up 0.0       10.0
...                                                              ...
unefficient             Toyota Verso Station wagon    9.0    37500.0
                        Toyota iQ    Compact          11.0   60630.0
                        Volvo C30    Compact          12.0  162000.0
                                     Coupe            10.0   96800.0
                        Volvo V50    Station wagon    13.0  258100.0

                                                                 25%  \
energy_efficiency_class make_model   body_type        age
efficient               Dacia        Compact          0.0      110.0
                                                      1.0     2376.0
                        Dacia Dokker Station wagon    4.0    80000.0
                                                      5.0    33345.0
                        Dacia Duster Off-Road/Pick-up 0.0       80.0
...                                                              ...
unefficient             Toyota Verso Station wagon    9.0    37500.0
                        Toyota iQ    Compact          11.0   60630.0
                        Volvo C30    Compact          12.0  162000.0
                                     Coupe            10.0   96800.0
                        Volvo V50    Station wagon    13.0  258100.0

                                                                 50%  \
energy_efficiency_class make_model   body_type        age
efficient               Dacia        Compact          0.0      110.0
                                                      1.0     2376.0
                        Dacia Dokker Station wagon    4.0    80000.0
                                                      5.0    33345.0
                        Dacia Duster Off-Road/Pick-up 0.0      105.0
...                                                              ...
unefficient             Toyota Verso Station wagon    9.0    37500.0
                        Toyota iQ    Compact          11.0   60630.0
                        Volvo C30    Compact          12.0  162000.0
                                     Coupe            10.0   96800.0
                        Volvo V50    Station wagon    13.0  258100.0

                                                                 75%       max
energy_efficiency_class make_model   body_type        age
efficient               Dacia        Compact          0.0      110.0     110.0
                                                      1.0     2376.0    2376.0
                        Dacia Dokker Station wagon    4.0    80000.0   80000.0
                                                      5.0    33345.0   33345.0
                        Dacia Duster Off-Road/Pick-up 0.0      487.5    8000.0
...                                                              ...       ...
unefficient             Toyota Verso Station wagon    9.0    37500.0   37500.0
                        Toyota iQ    Compact          11.0   60630.0   60630.0
                        Volvo C30    Compact          12.0  162000.0  162000.0
                                     Coupe            10.0   96800.0   96800.0
                        Volvo V50    Station wagon    13.0  258100.0  258100.0

[2166 rows x 8 columns]

In [160]:
df.loc[(df.energy_efficiency_class.isna())][["make_model", "age", "body_type", "gearbox", "drivetrain", "gears", "engine_size", "fuel_type", "co_emissions", "cons_avg"]]

,make_model,age,body_type,gearbox,drivetrain,gears,engine_size,fuel_type,co_emissions,cons_avg
0,Mercedes-Benz A 160,6.0,Compact,Manual,Front,5.0,1595.0,Diesel,98.0,3.800
1,Mercedes-Benz EQE 350,0.0,Compact,Automatic,4WD,9.0,1.0,Electric,0.0,2.247
2,Mercedes-Benz A 45 AMG,2.0,Compact,Automatic,4WD,8.0,1991.0,Benzine,162.0,8.400
3,Mercedes-Benz A 35 AMG,2.0,Compact,Automatic,4WD,7.0,1991.0,Benzine,169.0,7.300
4,Mercedes-Benz A 45 AMG,7.0,Compact,Automatic,4WD,7.0,2143.0,Diesel,162.0,4.900
...,...,...,...,...,...,...,...,...,...,...
28625,Volvo S90,3.0,Sedan,Automatic,4WD,8.0,1969.0,Diesel,127.0,2.000
28626,Volvo S40,18.0,Sedan,Automatic,Front,5.0,2435.0,Benzine,217.0,9.100
28627,Volvo C30,11.0,Sedan,Manual,Front,6.0,1560.0,Diesel,99.0,3.800
28628,Volvo S90,5.0,Sedan,Automatic,4WD,8.0,1969.0,Benzine,149.0,6.500
28629,Volvo S80,20.0,Sedan,Automatic,Front,6.0,2922.0,Benzine,251.0,10.400

In [161]:
df.loc[(df.energy_efficiency_class.isna()) & (df.fuel_type == "Electric")][["make_model", "age", "body_type", "gearbox", "drivetrain", "gears", "engine_size", "fuel_type", "co_emissions", "cons_avg"]]

,make_model,age,body_type,gearbox,drivetrain,gears,engine_size,fuel_type,co_emissions,cons_avg
1,Mercedes-Benz EQE 350,0.0,Compact,Automatic,4WD,9.0,1.0,Electric,0.0,2.247
93,Mercedes-Benz EQS,0.0,Compact,Automatic,4WD,9.0,0.0,Electric,0.0,2.247
94,Mercedes-Benz EQS,0.0,Compact,Automatic,Rear,9.0,0.0,Electric,0.0,2.247
108,Mercedes-Benz EQS,0.0,Compact,Automatic,Rear,9.0,0.0,Electric,0.0,2.247
1213,Mercedes-Benz EQA,1.0,Off-Road/Pick-up,Automatic,Front,1.0,1598.0,Electric,0.0,2.247
...,...,...,...,...,...,...,...,...,...,...
26985,Volvo XC90,5.0,Off-Road/Pick-up,Automatic,4WD,8.0,1969.0,Electric,0.0,2.247
27338,Volvo XC90,1.0,Off-Road/Pick-up,Automatic,4WD,8.0,1969.0,Electric,0.0,2.247
27367,Volvo XC90,5.0,Off-Road/Pick-up,Automatic,4WD,8.0,1969.0,Electric,0.0,2.247
28340,Volvo S90,1.0,Sedan,Automatic,4WD,8.0,2.0,Electric,0.0,2.247
28528,Volvo S90,1.0,Sedan,Automatic,4WD,8.0,2.0,Electric,0.0,2.247

In [163]:
df.loc[(df.energy_efficiency_class.isna())]["age"].value_counts()

age
 4.0      2669
 3.0      2332
 5.0      1999
 2.0      1492
 1.0      1447
          ...
-1.0         1
 93.0        1
 72.0        1
 94.0        1
-180.0       1
Name: count, Length: 82, dtype: int64

In [165]:
df.groupby(['make_model', 'age'])['energy_efficiency_class'].value_counts(dropna=False)

make_model   age   energy_efficiency_class
Dacia        0.0   efficient                  2
                   unefficient                1
             1.0   efficient                  1
             47.0  NaN                        1
Dacia Break  0.0   NaN                        1
                                             ..
Volvo XC90   14.0  unefficient                4
                   NaN                        2
             15.0  NaN                        2
             16.0  NaN                        2
             18.0  NaN                        2
Name: count, Length: 4745, dtype: int64

**energy_efficiency_class of a car mostly related to the make_model and age of that vehicle, so I have decided to group like that and fill the missing values with the mode of related group**

In [166]:
fill_mode(df, "make_model", "age", "energy_efficiency_class")

column name    :  energy_efficiency_class
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  2
--------------------------------
energy_efficiency_class
efficient      18613
unefficient    10017
Name: count, dtype: int64

**upholstery**

In [167]:
first_looking("upholstery")

COLUMN NAME    :  upholstery
--------------------------------
per_of_nulls   :  % 35.0
num_of_nulls   :  10020
num_of_uniques :  6
--------------------------------
upholstery
NaN             10020
Cloth            8736
Full leather     5439
Part leather     2835
alcantara         764
Other             628
Velour            208
Name: count, dtype: int64

**I want to reduce the number of unique values in this feature in order to get a better results in the machine learning model. Therefore, I am going to combine 'Part leather' and 'Full leather' in a one group and also add 'alcantara' to that group. Because 'alcantara' is also a high-quality material often associated with premium or luxury vehicles. Grouping it with "Full/part leather" acknowledges its similarity to leather in terms of quality and may capture the expectation of a higher-end interior.**

**Also I am going to group 'velour with 'cloth'. Because 'velour' is a fabric material like cloth, and both are commonly associated with standard or non-premium vehicle interiors. Grouping them together simplifies the categories and may make sense in terms of general material characteristics.**

In [168]:
df["upholstery"].replace(["Velour", "alcantara", "Part leather", "Full leather"],
                         ["Cloth", "Part/Full Leather", "Part/Full Leather", "Part/Full Leather"], inplace=True)

df["upholstery"].replace("Other", np.nan, inplace=True)

df["upholstery"].value_counts(dropna=False)

upholstery
NaN                  10648
Part/Full Leather     9038
Cloth                 8944
Name: count, dtype: int64

In [169]:
df.groupby(["make_model", "body_type", "age", "upholstery"]).price.describe()

                                                      count     mean  \
make_model   body_type        age  upholstery
Dacia        Compact          0.0  Cloth                2.0  22389.0
                              1.0  Part/Full Leather    1.0  19515.0
             Sedan            47.0 Cloth                1.0   9999.0
             Station wagon    0.0  Cloth                1.0  21799.0
Dacia Dokker Off-Road/Pick-up 4.0  Cloth                2.0  12490.0
...                                                     ...      ...
Volvo XC90   Off-Road/Pick-up 14.0 Part/Full Leather    4.0   9725.0
                              15.0 Part/Full Leather    2.0   7500.0
                              16.0 Part/Full Leather    2.0  16990.0
             Sedan            1.0  Part/Full Leather    1.0  84900.0
             Station wagon    6.0  Part/Full Leather    4.0  32750.0

                                                              std      min  \
make_model   body_type        age  upholstery
Dacia        Compact          0.0  Cloth               127.279221  22299.0
                              1.0  Part/Full Leather          NaN  19515.0
             Sedan            47.0 Cloth                      NaN   9999.0
             Station wagon    0.0  Cloth                      NaN  21799.0
Dacia Dokker Off-Road/Pick-up 4.0  Cloth                 0.000000  12490.0
...                                                           ...      ...
Volvo XC90   Off-Road/Pick-up 14.0 Part/Full Leather  2453.738644   7600.0
                              15.0 Part/Full Leather     0.000000   7500.0
                              16.0 Part/Full Leather     0.000000  16990.0
             Sedan            1.0  Part/Full Leather          NaN  84900.0
             Station wagon    6.0  Part/Full Leather  3752.776750  29500.0

                                                          25%      50%  \
make_model   body_type        age  upholstery
Dacia        Compact          0.0  Cloth              22344.0  22389.0
                              1.0  Part/Full Leather  19515.0  19515.0
             Sedan            47.0 Cloth               9999.0   9999.0
             Station wagon    0.0  Cloth              21799.0  21799.0
Dacia Dokker Off-Road/Pick-up 4.0  Cloth              12490.0  12490.0
...                                                       ...      ...
Volvo XC90   Off-Road/Pick-up 14.0 Part/Full Leather   7600.0   9725.0
                              15.0 Part/Full Leather   7500.0   7500.0
                              16.0 Part/Full Leather  16990.0  16990.0
             Sedan            1.0  Part/Full Leather  84900.0  84900.0
             Station wagon    6.0  Part/Full Leather  29500.0  32750.0

                                                          75%      max
make_model   body_type        age  upholstery
Dacia        Compact          0.0  Cloth              22434.0  22479.0
                              1.0  Part/Full Leather  19515.0  19515.0
             Sedan            47.0 Cloth               9999.0   9999.0
             Station wagon    0.0  Cloth              21799.0  21799.0
Dacia Dokker Off-Road/Pick-up 4.0  Cloth              12490.0  12490.0
...                                                       ...      ...
Volvo XC90   Off-Road/Pick-up 14.0 Part/Full Leather  11850.0  11850.0
                              15.0 Part/Full Leather   7500.0   7500.0
                              16.0 Part/Full Leather  16990.0  16990.0
             Sedan            1.0  Part/Full Leather  84900.0  84900.0
             Station wagon    6.0  Part/Full Leather  36000.0  36000.0

[5062 rows x 8 columns]

**Since I have NOT detected a clear relationship among features, ffill/bfill methods to fill missing values would be prefered to maintain the current proportionality.**

In [170]:
fill(df, "make_model", "body_type", "upholstery", "ffill")

COLUMN NAME    :  upholstery
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  2
--------------------------------
upholstery
Cloth                15063
Part/Full Leather    13567
Name: count, dtype: int64

**comfort_&_convenience**

In [171]:
first_looking("comfort_&_convenience")

COLUMN NAME    :  comfort_&_convenience
--------------------------------
per_of_nulls   :  % 11.17
num_of_nulls   :  3197
num_of_uniques :  14438
--------------------------------
comfort_&_convenience
NaN                                                                                                                                                                                                                                                                                                                                                                                                            3197
Air conditioning, Automatic climate control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                                              244
Air conditioning, Automatic climate control, Cruise control                                                                                                                                                                                                                                                                                                                                                     171
Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                                                                                                                                                                                                              168
Air conditioning                                                                                                                                                                                                                                                                                                                                                                                                157
                                                                                                                                                                                                                                                                                                                                                                                                               ...
Armrest, Automatic climate control, 2 zones, Cruise control, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system                                                                                     1
Air conditioning, Armrest, Automatic climate control, Cruise control, Electric tailgate, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating                                               1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Fold flat passenger seat, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows       1
Armrest, Automatic climate control, 2 zones, Cruise control, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows           1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Seat heating, Tinted windows                                                                                                                                                                                                         1
Name: count, Length: 14439, dtype: int64

**First of all I am going to fill the missing values and than I have to reduce the number of unique values in this feature, in order to do that I am going to create some groups**

In [172]:
fill_mode(df, "make_model", "body_type", "comfort_&_convenience")

column name    :  comfort_&_convenience
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  14438
--------------------------------
comfort_&_convenience
Air conditioning, Automatic climate control, Electrical side mirrors, Multi-function steering wheel, Power windows                                                                                           347
Cruise control                                                                                                                                                                                               316
Air conditioning                                                                                                                                                                                             259
Air conditioning, Automatic climate control, Cruise control                                                                                                                                                  256
Air conditioning, Electrical side mirrors, Power windows                                                                                                                                                     242
                                                                                                                                                                                                            ...
Air conditioning, Automatic climate control, Electrical side mirrors, Hill Holder, Panorama roof, Power windows, Start-stop system, Tinted windows                                                             1
Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Parking assist system sensors rear, Power windows, Rain sensor, Tinted windows                                                       1
Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Hill Holder, Multi-function steering wheel, Power windows, Rain sensor, Start-stop system                                       1
Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Light sensor, Lumbar support, Parking assist system sensors rear, Power windows, Rain sensor                                    1
Air conditioning, Armrest, Cruise control, Electrical side mirrors, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Seat heating, Tinted windows      1
Name: count, Length: 14438, dtype: int64

**In order to reduce the number of unique values, I am going to group the values in this feature in some packages**

In [173]:
premium = ["Electrical side mirrors", "Parking assist", "Air conditioning", "Hill Holder", "Power windows"]
premium_plus = ["Multi-function", "Navigation ", "Keyless central door lock", "Heads-up", "Massage seats", "heating", "Automatic climate control", "Heated"]
comfort_package = df['comfort_&_convenience'].apply(lambda sentence: "Premium Plus" if all(word in sentence for word in premium_plus) else ("Premium" if all(word in sentence for word in premium) else "Standard"))
comfort_package.value_counts()

comfort_&_convenience
Standard        19707
Premium          8829
Premium Plus       94
Name: count, dtype: int64

In [174]:
df['comfort_&_convenience_Package'] = df['comfort_&_convenience'].apply(lambda sentence: "Premium Plus" if all(word in sentence for word in premium_plus) else ("Premium" if all(word in sentence for word in premium) else "Standard"))

In [175]:
df['comfort_&_convenience_Package'].value_counts(dropna=False)

comfort_&_convenience_Package
Standard        19707
Premium          8829
Premium Plus       94
Name: count, dtype: int64

In [176]:
df.drop("comfort_&_convenience", axis=1, inplace=True)

In [177]:
df.shape

(28630, 29)

**entertainment_&_media**

In [178]:
first_looking("entertainment_&_media")

COLUMN NAME    :  entertainment_&_media
--------------------------------
per_of_nulls   :  % 17.42
num_of_nulls   :  4986
num_of_uniques :  1944
--------------------------------
entertainment_&_media
NaN                                                                                                                                                                        4986
Bluetooth, USB                                                                                                                                                              753
Bluetooth                                                                                                                                                                   665
On-board computer                                                                                                                                                           662
CD player, On-board computer, Radio                                                                                                                                         644
                                                                                                                                                                           ...
Android Auto, Apple CarPlay, Bluetooth, Digital cockpit, Digital radio, Induction charging for smartphones, On-board computer, Radio, Sound system, WLAN / WiFi hotspot       1
Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Integrated music streaming, On-board computer, Sound system, USB, WLAN / WiFi hotspot             1
Digital cockpit, Digital radio, On-board computer, Radio                                                                                                                      1
Android Auto, Apple CarPlay, Digital radio, On-board computer, Radio, Sound system, USB, WLAN / WiFi hotspot                                                                  1
Hands-free equipment, Integrated music streaming, On-board computer, Radio, USB                                                                                               1
Name: count, Length: 1945, dtype: int64

In [179]:
fill(df, "make_model", "body_type", "entertainment_&_media", "mode")

COLUMN NAME    :  entertainment_&_media
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  1944
--------------------------------
entertainment_&_media
Android Auto                                                                                                                                                                                                                                                    3
Android Auto, Apple CarPlay                                                                                                                                                                                                                                     9
Android Auto, Apple CarPlay, Bluetooth                                                                                                                                                                                                                          1
Android Auto, Apple CarPlay, Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Induction charging for smartphones, Integrated music streaming, MP3, On-board computer, Radio, Sound system, Television, USB                           1
Android Auto, Apple CarPlay, Bluetooth, CD player, Digital cockpit, Digital radio, Hands-free equipment, Induction charging for smartphones, Integrated music streaming, MP3, On-board computer, Radio, Sound system, Television, USB, WLAN / WiFi hotspot      4
                                                                                                                                                                                                                                                             ...
Sound system                                                                                                                                                                                                                                                   61
Sound system, USB                                                                                                                                                                                                                                               3
Sound system, WLAN / WiFi hotspot                                                                                                                                                                                                                               3
USB                                                                                                                                                                                                                                                           207
WLAN / WiFi hotspot                                                                                                                                                                                                                                             4
Name: count, Length: 1944, dtype: int64

**I have also decided to create some "Entertainment & Media Packages" in order to reduce the number of unique values**

In [180]:
media_plus = ["Digital", "Television"]
entertainment_media_package = df['entertainment_&_media'].apply(lambda sentence: "Plus" if any(word in sentence for word in media_plus) else "Standard")
entertainment_media_package.value_counts()

entertainment_&_media
Standard    17751
Plus        10879
Name: count, dtype: int64

In [181]:
df['entertainment_&_media_Package'] = df['entertainment_&_media'].apply(lambda sentence: "Plus" if any(word in sentence for word in media_plus) else "Standard")
df['entertainment_&_media_Package'].value_counts(dropna=False)

entertainment_&_media_Package
Standard    17751
Plus        10879
Name: count, dtype: int64

In [182]:
df.drop("entertainment_&_media", axis=1, inplace=True)

In [184]:
df.shape

(28630, 29)

**extras**

In [186]:
first_looking("extras")

COLUMN NAME    :  extras
--------------------------------
per_of_nulls   :  % 17.99
num_of_nulls   :  5150
num_of_uniques :  9360
--------------------------------
extras
NaN                                                                                                                                                                                                                                                                 5150
Alloy wheels                                                                                                                                                                                                                                                        3408
Alloy wheels, Roof rack                                                                                                                                                                                                                                              380
Alloy wheels, Sport seats                                                                                                                                                                                                                                            372
Alloy wheels, Touch screen                                                                                                                                                                                                                                           231
                                                                                                                                                                                                                                                                    ...
Alloy wheels (18"), Spoiler, Summer tyres, Trailer hitch                                                                                                                                                                                                               1
All season tyres, Alloy wheels, Automatically dimming interior mirror, Catalytic Converter, Headlight washer system, Ski bag, Sport seats, Trailer hitch, Winter tyres                                                                                                 1
Alloy wheels, Automatically dimming interior mirror, Headlight washer system, Sport package, Sport seats, Summer tyres                                                                                                                                                 1
Alloy wheels (19"), Ambient lighting, Automatically dimming interior mirror, Catalytic Converter, E10-enabled, Emergency tyre repair kit, Headlight washer system, Spoiler, Sport package, Sport seats, Sport suspension, Summer tyres, Tuned car, Voice Control       1
Alloy wheels, Automatically dimming interior mirror, Ski bag, Trailer hitch                                                                                                                                                                                            1
Name: count, Length: 9361, dtype: int64

In [187]:
fill_mode(df, "make_model", "body_type", "extras")

column name    :  extras
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  9360
--------------------------------
extras
Alloy wheels                                                                                                                                                                                6377
Alloy wheels, Sport seats                                                                                                                                                                    492
Roof rack                                                                                                                                                                                    484
Alloy wheels, Roof rack                                                                                                                                                                      387
Alloy wheels, Touch screen                                                                                                                                                                   280
                                                                                                                                                                                            ...
Alloy wheels (18"), Ambient lighting, Spoiler, Sport seats, Voice Control                                                                                                                      1
Alloy wheels, Ambient lighting, Automatically dimming interior mirror, Headlight washer system, Spoiler, Sport seats, Summer tyres, Winter tyres                                               1
Alloy wheels, Awning, Catalytic Converter, Emergency tyre repair kit, Headlight washer system, Range extender, Sport package, Sport seats, Sport suspension, Summer tyres, Voice Control       1
Alloy wheels, Automatically dimming interior mirror, Emergency tyre repair kit, Sport package, Sport seats, Sport suspension                                                                   1
Alloy wheels, Automatically dimming interior mirror, Ski bag, Trailer hitch                                                                                                                    1
Name: count, Length: 9360, dtype: int64

**safety_&_security**

In [188]:
first_looking("safety_&_security")

COLUMN NAME    :  safety_&_security
--------------------------------
per_of_nulls   :  % 11.23
num_of_nulls   :  3215
num_of_uniques :  12549
--------------------------------
safety_&_security
NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          3215
Isofix                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        380
ABS, Central door lock, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                                                                                                                                                                                                             328
ABS, Central door lock, Driver-side airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Traction control                                                                                                                                                                                                                                                                                                                                                                                         125
ABS, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Isofix, Power steering, Side airbag                                                                                                                                                                                                                                                                                                                                                                                                     121
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
Daytime running lights, Emergency brake assistant, Fog lights, Isofix, LED Daytime Running Lights, Lane departure warning system, Power steering, Tire pressure monitoring system                                                                                                                                                                                                                                                                                                                                               1
ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Fog lights, Full-LED headlights, Glare-free high beam headlights, Immobilizer, Isofix, LED Headlights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control                                                                                1
ABS, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, LED Daytime Running Lights, Passenger-side airbag, Side airbag, Tire pressure monitoring system, Traction control                                                                                                                                                                                                                                                                                                                1
ABS, Blind spot monitor, Central door lock, Daytime running lights, Distance warning system, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency system, Fog lights, Full-LED headlights, Head airbag, High beam assist, Immobilizer, Isofix, LED Daytime Running Lights, LED Headlights, Lane departure warning system, Passenger-side airbag, Power steering, Side airbag, Speed limit control system, Tire pressure monitoring system, Traction control, Traffic sign recognition       1
ABS, Alarm system, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Power steering, Side airbag, Traction control                                                                                                                                                                                                                                                                                                              1
Name: count, Length: 12550, dtype: int64

In [189]:
fill_mode(df, "make_model", "body_type", "safety_&_security")

column name    :  safety_&_security
--------------------------------
per_of_nulls   :  % 0.0
num_of_nulls   :  0
num_of_uniques :  12549
--------------------------------
safety_&_security
Isofix                                                                                                                                                                                                                                                                                                                                     602
ABS, Central door lock, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag                                                                                                                                                                                          338
ABS, Fog lights, Side airbag                                                                                                                                                                                                                                                                                                               249
ABS, Central door lock, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system                                                                                                             155
Power steering                                                                                                                                                                                                                                                                                                                             154
                                                                                                                                                                                                                                                                                                                                          ...
ABS, Adaptive Cruise Control, Alarm system, Bi-Xenon headlights, Blind spot monitor, Central door lock with remote control, Electronic stability control, Head airbag, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Speed limit control system, Tire pressure monitoring system      1
Driver-side airbag, Fog lights, Immobilizer, Power steering                                                                                                                                                                                                                                                                                  1
ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Glare-free high beam headlights, High beam assist, Immobilizer, Isofix, Passenger-side airbag, Side airbag, Tire pressure monitoring system                                                                                    1
ABS, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Passenger-side airbag, Power steering, Side airbag, Speed limit control system, Tire pressure monitoring system, Traction control                                                                  1
ABS, Alarm system, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Fog lights, Head airbag, Immobilizer, Power steering, Side airbag, Traction control                                                                                                                           1
Name: count, Length: 12549, dtype: int64

**I am also going to define some packages for this feature, in order to reduce the number of unique values**

In [190]:
premium = ["Tire pressure", "Traction control", "Daytime running lights", "LED Headlight", "Tire pressure"]
premium_plus = ["Emergency brake assistant", "Electronic stability control"]
safety_security_package = df['safety_&_security'].apply(lambda sentence: "Safety Premium Package" if any(word in sentence for word in premium) else ("Safety Premium Plus Package" if any(word in sentence for word in premium_plus) else "Safety Standard Package"))
safety_security_package.value_counts()

safety_&_security
Safety Premium Package         21270
Safety Standard Package         4883
Safety Premium Plus Package     2477
Name: count, dtype: int64

In [191]:
df['safety_&_security_Package'] = df['safety_&_security'].apply(lambda sentence: "Safety Premium Package" if any(word in sentence for word in premium) else ("Safety Premium Plus Package" if any(word in sentence for word in premium_plus) else "Safety Standard Package"))

In [192]:
df['safety_&_security_Package'].value_counts(dropna=False)

safety_&_security_Package
Safety Premium Package         21270
Safety Standard Package         4883
Safety Premium Plus Package     2477
Name: count, dtype: int64

In [193]:
df.drop("safety_&_security", axis=1, inplace=True)

# End of the Step 2 (Handling with Missing Values)

In [195]:
df.head().T

,0,1,2,3,4
make_model,Mercedes-Benz A 160,Mercedes-Benz EQE 350,Mercedes-Benz A 45 AMG,Mercedes-Benz A 35 AMG,Mercedes-Benz A 45 AMG
make,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz,Mercedes-Benz
price,16950.0,80900.0,69900.0,46990.0,16800.0
body_type,Compact,Compact,Compact,Compact,Compact
type,Used,Pre-registered,Used,Used,Used
doors,5.0,4.0,5.0,5.0,5.0
warranty,Yes,Yes,Yes,Yes,Yes
mileage,120200.0,5000.0,18900.0,18995.0,197000.0
gearbox,Manual,Automatic,Automatic,Automatic,Automatic
fuel_type,Diesel,Electric,Benzine,Benzine,Diesel
seller,Dealer,Dealer,Dealer,Dealer,Dealer
seats,5.0,5.0,5.0,5.0,5.0
engine_size,1595.0,1.0,1991.0,1991.0,2143.0
gears,5.0,9.0,8.0,7.0,7.0
co_emissions,98.0,0.0,162.0,169.0,162.0
drivetrain,Front,4WD,4WD,4WD,4WD
extras,Alloy wheels,"Alloy wheels (21""), Shift paddles, Sport packa...",Alloy wheels,Sport seats,Alloy wheels
empty_weight,1270.0,2355.0,1555.0,1455.0,1545.0
full_service_history,No,No,No,No,No
non_smoker_vehicle,No,No,No,No,No
upholstery,Cloth,Part/Full Leather,Part/Full Leather,Part/Full Leather,Part/Full Leather
previous_owner,2.0,1.0,2.0,2.0,2.0
energy_efficiency_class,efficient,efficient,unefficient,unefficient,unefficient
age,6.0,0.0,2.0,2.0,7.0
power_kw,75.0,215.0,310.0,225.0,100.0
cons_avg,3.8,2.247,8.4,7.3,4.9
comfort_&_convenience_Package,Standard,Premium,Standard,Standard,Standard
entertainment_&_media_Package,Standard,Plus,Standard,Standard,Standard
safety_&_security_Package,Safety Premium Package,Safety Premium Package,Safety Premium Plus Package,Safety Premium Package,Safety Premium Plus Package

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28630 entries, 0 to 28629
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   make_model                     28630 non-null  object
 1   make                           28630 non-null  object
 2   price                          28630 non-null  float64
 3   body_type                      28630 non-null  object
 4   type                           28630 non-null  object
 5   doors                          28630 non-null  float64
 6   warranty                       28630 non-null  object
 7   mileage                        28630 non-null  float64
 8   gearbox                        28630 non-null  object
 9   fuel_type                      28630 non-null  object
 10  seller                         28630 non-null  object
 11  seats                          28630 non-null  float64
 12  engine_size                    28630 non-null  float64
 13  gears                          28630 non-null  float64
 14  co_emissions                   28630 non-null  float64
 15  drivetrain                     28630 non-null  object
 16  extras                         28630 non-null  object
 17  empty_weight                   28630 non-null  float64
 18  full_service_history           28630 non-null  object
 19  non_smoker_vehicle             28630 non-null  object
 20  upholstery                     28630 non-null  object
 21  previous_owner                 28630 non-null  float64
 22  energy_efficiency_class        28630 non-null  object
 23  age                            28630 non-null  object
 24  power_kw                       28630 non-null  float64
 25  cons_avg                       28630 non-null  float64
 26  comfort_&_convenience_Package  28630 non-null  object
 27  entertainment_&_media_Package  28630 non-null  object
 28  safety_&_security_Package      28630 non-null  object
dtypes: float64(11), object(18)
memory usage: 6.3+ MB

In [197]:
df.isnull().sum()*100 / df.shape[0]

make_model                       0.0
make                             0.0
price                            0.0
body_type                        0.0
type                             0.0
doors                            0.0
warranty                         0.0
mileage                          0.0
gearbox                          0.0
fuel_type                        0.0
seller                           0.0
seats                            0.0
engine_size                      0.0
gears                            0.0
co_emissions                     0.0
drivetrain                       0.0
extras                           0.0
empty_weight                     0.0
full_service_history             0.0
non_smoker_vehicle               0.0
upholstery                       0.0
previous_owner                   0.0
energy_efficiency_class          0.0
age                              0.0
power_kw                         0.0
cons_avg                         0.0
comfort_&_convenience_Package    0.0
entertainment_&_media_Package    0.0
safety_&_security_Package        0.0
dtype: float64

In [198]:
df.duplicated(keep=False).sum()

6259

In [199]:
df[df.duplicated(keep=False)]

,make_model,make,price,body_type,type,doors,warranty,mileage,gearbox,fuel_type,...,non_smoker_vehicle,upholstery,previous_owner,energy_efficiency_class,age,power_kw,cons_avg,comfort_&_convenience_Package,entertainment_&_media_Package,safety_&_security_Package
20,Mercedes-Benz A 180,Mercedes-Benz,21000.0,Compact,Used,5.0,Yes,172700.0,Automatic,Diesel,...,No,Cloth,3.0,unefficient,4.0,80.0,3.7,Standard,Standard,Safety Standard Package
25,Mercedes-Benz A 180,Mercedes-Benz,21000.0,Compact,Used,5.0,Yes,172700.0,Automatic,Diesel,...,No,Cloth,3.0,unefficient,4.0,80.0,3.7,Standard,Standard,Safety Standard Package
34,Mercedes-Benz A 180,Mercedes-Benz,18390.0,Compact,Used,5.0,Yes,63871.0,Automatic,Benzine,...,No,Part/Full Leather,1.0,unefficient,5.0,90.0,5.4,Standard,Standard,Safety Standard Package
43,Mercedes-Benz A 180,Mercedes-Benz,23850.0,Compact,Used,5.0,Yes,71098.0,Automatic,Diesel,...,No,Cloth,3.0,unefficient,4.0,80.0,3.7,Standard,Standard,Safety Standard Package
48,Mercedes-Benz A 180,Mercedes-Benz,23850.0,Compact,Used,5.0,Yes,71098.0,Automatic,Diesel,...,No,Cloth,3.0,unefficient,4.0,80.0,3.7,Standard,Standard,Safety Standard Package
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28601,Volvo V40,Volvo,15999.0,Sedan,Used,5.0,Yes,80844.0,Automatic,Diesel,...,No,Cloth,1.0,efficient,4.0,88.0,4.0,Standard,Standard,Safety Premium Package
28616,Volvo S90,Volvo,27190.0,Sedan,Used,4.0,Yes,93757.0,Automatic,Diesel,...,No,Part/Full Leather,1.0,efficient,4.0,140.0,4.4,Standard,Standard,Safety Premium Plus Package
28617,Volvo S90,Volvo,27190.0,Sedan,Used,4.0,Yes,93757.0,Automatic,Diesel,...,No,Part/Full Leather,1.0,efficient,4.0,140.0,4.4,Standard,Standard,Safety Premium Plus Package
28621,Volvo S90,Volvo,27190.0,Sedan,Used,4.0,Yes,93757.0,Automatic,Diesel,...,No,Part/Full Leather,1.0,efficient,4.0,140.0,4.4,Standard,Standard,Safety Premium Plus Package
28622,Volvo S90,Volvo,27190.0,Sedan,Used,4.0,Yes,93757.0,Automatic,Diesel,...,No,Part/Full Leather,1.0,efficient,4.0,140.0,4.4,Standard,Standard,Safety Premium Plus Package

**I am going to save the dataset with a csv extension to proceed with the step 3 (Handling with Outliers)**

In [200]:
df.to_csv("capstone_step2.csv", index=False)